---
import { forumModeratorLevel, getCategoryModerators } from "~/helper/forum";
import { ForumCategory } from "~/models/forumcategory";
import Layout from "~/layouts/Layout.astro";
import ThreadModder from "~/components/forum/ThreadModder.svelte";
import { findUsers } from "~/helper/users";

const cat = await ForumCategory.findOne({ slug: Astro.params.catId });

if (cat === undefined) return new Response(null, { status: 404 });

const { user } = Astro.locals.auth;

const [modLevel, allMods] = await Promise.all([
	forumModeratorLevel(user, cat),
	getCategoryModerators(cat),
]);

const modUsers = await findUsers(allMods.map(mod => mod.user));
---

<Layout title="composer - galaxy forums">
	<main id="main">
		{
			modLevel > 0 && (
				<ThreadModder
					category={cat.toObject()}
					user={user.toObject()}
					level={modLevel}
					mods={allMods}
					users={modUsers}
					client:load
				/>
			)
		}
	</main>
</Layout>
