---
import { type UserCompletedGameMap, getUserCompletedGames } from "~/helper/completed";
import { attachNamesToComments, idToComments } from "~/helper/fetchComments";
import DetailedGameCard from "~/components/DetailedGameCard.svelte";
import { Favorite } from "~/models/favorite";
import { ForumCategory } from "~/models/forumcategory";
import { ForumThread } from "~/models/forumthread";
import { Game } from "~/models/game";
import GameDiscussion from "~/components/GameDiscussion.svelte";
import GameInfo from "~/components/GameInfo.svelte";
import GameList from "~/components/GameList.svelte";
import GameWindow from "~/components/GameWindow.svelte";
import Greed from "~/components/Greed.svelte";
import Layout from "~/layouts/Layout.astro";
import { Rating } from "~/models/rating";
import { Update } from "~/models/update";
import { User } from "~/models/user";
import { astroUnder13 } from "~/helper/coppa";
import { convertFormat } from "~/libgalaxy";
import { createLinkedThread } from "~/helper/forum";
import { fromGame } from "~/helper/similar";
import { getTagData } from "~/helper/tags";
import { hasStaffPerm } from "~/helper/adminHelper";

const { gameId } = Astro.params;
// string | number -> string -> number
// wtf, ts?
const gameNum = parseInt(gameId.toString());
if (isNaN(gameNum)) return new Response(null, { status: 404 });

const isUnderage = 	astroUnder13(Astro);

const game = await Game.findOne({ id: gameNum }).lean();
if (!game) return new Response(null, { status: 404 });

const { user, loggedIn, needsVerification } = Astro.locals.auth;

// THis can all be one if statement but I could barely understand it
if (game.verified !== true) {
	if (!loggedIn) {
		return Astro.redirect("/");
	}
	if (user?.id !== game.author && !hasStaffPerm(user?.modLevel, "verifier")) {
		return Astro.redirect("/");
	}
}

let favorited = false;
let rating = 0;
let completedGames: UserCompletedGameMap = new Map();
const [
	author,
	updates,
	category,
	plainNewComments,
	plainTopComments,
	similarGames,
	...loggedInQueries
] = await Promise.all([
	// Game author
	User.findOne({ id: game.author }),
	// Game updates (just to find the most recent one)
	// TODO is there a nice way to return just the first one?
	Update.find({ game: gameNum }).sort({ id: -1 }).lean(),
	// Game linked forum category
	ForumCategory.findOne({ linkedGames: gameNum }),
	// New/top comments
	idToComments(gameNum, "createdAt", loggedIn ? user.id : undefined),
	idToComments(gameNum, "score", loggedIn ? user.id : undefined),
	// Game suggestions
	fromGame(game, Astro.cookies.get("filters")?.value ?? ""),
	// Favorited
	Favorite.exists({ game: gameNum, user: user?.id }),
	// User rating
	Rating.findOne({ game: gameNum, author: user?.id }),
	// Completed games
	getUserCompletedGames(user?.id),
]);

const update = updates[0];

let threads = [];
if (category !== null) {
	// A category is linked to the game
	const [pinnedThreads, catThreads, linkedThreads] = await Promise.all([
		ForumThread.find({ category: category.id, pinned: true }).lean(),
		ForumThread.find({ category: category.id })
			.limit(10)
			.sort({ lastPost: -1 })
			.lean(),
		ForumThread.find({ linkedGame: gameNum }).lean(),
	]);
	threads = [...pinnedThreads, ...catThreads, ...linkedThreads];
} else {
	// No category is linked to the game
	threads = await ForumThread.find({ linkedGame: gameNum }).lean();
	if (threads.length === 0 && game.verified === true)
		await createLinkedThread(gameNum);
}

const authorsArray = await User.find({
	id: { $in: [...new Set(threads.map(t => t.author))] },
});
const forumUsers = {};
authorsArray.forEach(author => {
	forumUsers[author.id] = author.toJSON();
});

if (loggedIn) {
	favorited = loggedInQueries[0] !== null;
	if (loggedInQueries[1] !== null) rating = loggedInQueries[1].rating;
	completedGames = loggedInQueries[2];
}
const [newComments, topComments] = await Promise.all([
	attachNamesToComments(plainNewComments),
	attachNamesToComments(plainTopComments),
]);

const greed = Astro.url.searchParams.has("greed");
---

<Layout
	title={`${game.name} - galaxy`}
	user={{
		user,
		loggedIn,
		needsVerification,
	}}
	ogp={{
		title: game.name,
		description: `${game.favorites}❤ ${game.ratingAvg.toFixed(1)}⭐ | by ${
			author.name
		}
${game.description}`,
		image: convertFormat("/thumb/large/", game.id, game.thumbTimestamp),
		largeImage: true,
	}}
>
	<div id="game-filler"></div>
	<GameWindow
		game={game}
		userId={user?.id}
		isStaff={hasStaffPerm(user?.modLevel, "mod")}
		isUnderage={isUnderage}
		client:only="svelte"
	/>
	<main id="main">
		<GameInfo
			client:load
			game={game}
			isDev={user?.id === game.author}
			isLoggedIn={loggedIn}
			author={[author.name, author.equippedFlair, author.pfpTimestamp]}
			rating={rating}
			update={update}
			favorited={favorited}
			completed={completedGames.has(game.id)}
			completionOutdated={completedGames.get(game.id)?.isOutdated}
			allTags={getTagData()}
		/>

		{
			game.tags.length !== 0 && similarGames.length > 0 && (
				<GameList
					games={similarGames}
					title="similar games"
					size={{ thumb: "medium", width: 240 }}
					client:idle
					completedGames={completedGames}
				/>
			)
		}

		{
			!isUnderage && (
				<GameDiscussion
					client:idle
					gameId={gameNum}
					userId={user?.id}
					isDev={user?.id === game.author}
					isLoggedIn={loggedIn}
					isStaff={hasStaffPerm(user?.modLevel, "mod")}
					comments={[newComments, topComments]}
					threads={threads}
					users={forumUsers}
				/>
			)
		}
	</main>
</Layout>
<DetailedGameCard client:load />
{greed && <Greed client:load />}

<style>
	#game-filler {
		height: 75vh;
		width: 100%;
		background: var(--background-0);
	}
</style>
