<script lang="ts">
	import type { IAF2024Participant } from "~/types";
	import UserChip from "~/components/UserChip.svelte";
	import { json } from "~/libgalaxy";
	import { onMount } from "svelte";

	type Leaderboard = IAF2024Participant[];

	export let themeCookie: "auto" | "dark" | "light";
	export let number: number;
	export let selfClicks: number;

	let lbInfo: {
		[id: number]: { name: string; pfp: number; flair: string };
	} | null = null;
	let leaderboards: { [metric: string]: Leaderboard } | null = null;

	let counterLightness = window.matchMedia(
		"screen and (prefers-color-scheme: dark)"
	).matches
		? "90%"
		: "10%";
	if (themeCookie === "dark") counterLightness = "90%";
	else if (themeCookie === "light") counterLightness = "10%";

	const leaderboardNames = {
		byClicks: "top clickers",
		byFirst: "newest newcomers",
		byLast: "most recent clickers",
	};

	let introPopupShown =
		localStorage.getItem("galaxy-af2024-dismissed") === "2"
			? 2
			: localStorage.getItem("galaxy-af2024-dismissed") === "true"
				? 1
				: 0;

	function dismissPopup() {
		introPopupShown = 2;
		localStorage.setItem("galaxy-af2024-dismissed", "2");
	}

	function formatNum(num: number): string {
		if (num < 100_000_000) return Math.round(num).toLocaleString("en-US");
		const exp = Math.floor(Math.log10(num));
		const man = num / 10 ** exp;
		return man.toFixed(3) + "e" + exp;
	}

	onMount(() => {
		async function updateLeaderboards() {
			const res = await json("/api/af2024/leaderboard");
			leaderboards = res.leaderboards;
			lbInfo = res.users;
			if (isFirstUpdate) {
				isFirstUpdate = false;
				console.log(
					"Please leave my family alone now. Here's you're [sic.] statistic [sic.]"
				);
				for (const [name, leaderboard] of Object.entries(
					leaderboards
				)) {
					console.log(`=== ${leaderboardNames[name]} ===`);
					leaderboard.forEach(participant => {
						console.log(
							`${lbInfo[participant.user].name}: ${((participant.clicks / (participant.last - participant.first)) * 1000).toFixed(2)}/sec`
						);
					});
				}
			}
		}
		updateLeaderboards();
	});

	let isFirstUpdate = true;

	function formatDate(date: number) {
		return new Date(date).toLocaleString("en-US", {
			dateStyle: "short",
			timeStyle: "short",
		});
	}
</script>

{#if introPopupShown === 0}
	<div class="funny-container">
		<div class="container">
			<h1 class="title">alright, here's the gist of things</h1>

			<ul>
				<li>every year, reddit hosts an event for april fools' day</li>
				<li>
					this year, their event was literally just a
					<a
						href="http://reddit.com/r/counter"
						target="_blank"
						rel="noopener noorigin"
					>
						button you can click once
					</a>
				</li>
				<li>wait... you can only click the button once?</li>
				<li>
					i run a website for incremental games. i want a button that
					i can click multiple times
				</li>
				<li>
					i set out to do a task so hard that not even a company whose
					CEO got paid <a
						href="https://www.businessinsider.com/reddit-ceo-steve-huffman-defends-193-million-compensation-package-2024-3"
						target="_blank">$193,000,000</a
					>
					last year (despite the company not being profitable) could manage
					to do&mdash;<b>
						create a button you can click multiple times
					</b>
				</li>
				<li>i added leaderboards too</li>
				<li>
					<b>UPDATE:</b> reddit added 3 more buttons to their thing, so
					we added another button. you'll see it once you reach 1,000 clicks
				</li>
			</ul>

			<div class="buttons">
				<button on:click={dismissPopup}>
					I don't care about Reddit, let me click the button
				</button>
			</div>
		</div>
	</div>
{:else if introPopupShown === 1}
	<div class="funny-container">
		<div class="container">
			<h1 class="title">alright, here's the gist of things (again)</h1>

			<ul>
				<li>reddit addded 3 more buttons to their event</li>
				<li>i think you could still only click one of them</li>
				<li>in response, we have added another feature for you</li>
				<li>you'll see it once you reach 1,000 clicks 😉</li>
				<li>
					this event is still temporary. it's going away soon. enjoy
					it while it lasts
				</li>
			</ul>

			<div class="buttons">
				<button on:click={dismissPopup}> hell yeah </button>
			</div>
		</div>
	</div>
{/if}

<div class="clicker">
	<p class="center">
		the counter will forever be at
		<span
			class="counter"
			style="color: hsl({((number / 1000) * 360) %
				360}deg, 100%, {counterLightness})"
		>
			{formatNum(number)}
		</span>
		<span style="display: block; padding-top: 10px">
			you clicked {formatNum(selfClicks)} times while you could
		</span>
	</p>
</div>

{#if !!leaderboards}
	<div class="center">
		<h1>leaderboards</h1>
	</div>
	<div class="leaderboard-container">
		{#each Object.keys(leaderboards) as lbId}
			<div>
				<h2>{leaderboardNames[lbId]}</h2>
				<div class="leaderboard container">
					{#each leaderboards[lbId] as entry, idx}
						{#if idx !== 0}
							<hr />
						{/if}
						<div>
							<div>
								<UserChip
									id={entry.user}
									name={lbInfo[entry.user].name}
									flair={lbInfo[entry.user].flair}
									pfpTimestamp={lbInfo[entry.user].pfp}
									small
								/>
							</div>
							<div>
								<b>{formatNum(entry.clicks)}</b> clicks
							</div>
							<div>
								started at {formatDate(entry.first)}
							</div>
							<div>
								last seen {formatDate(entry.last)}
							</div>
						</div>
					{/each}
				</div>
			</div>
		{/each}
	</div>
{/if}

<style>
	.clicker {
		display: flex;
		flex-direction: column;
		height: calc(100vh - 64px);
		align-items: center;
		justify-content: center;
	}

	.center {
		text-align: center;
	}

	.counter {
		font-variant-numeric: tabular-nums;
		font-weight: 900;
		letter-spacing: -0.05em;
		line-height: 1;
		transform: scaleX(0.9);
		font-size: min(160px, calc(10vw + 10px));
		display: block;
		margin-top: min(2vw, 10px);
	}

	/* .leaderboard {
	} */

	.leaderboard-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.leaderboard-container > div {
		width: min(1000px, 100%);
	}
	.leaderboard > div {
		display: flex;
		align-items: center;
	}
	.leaderboard > div > * {
		flex: 0 1 100%;
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid var(--color-4);
		padding: 0;
	}

	@media screen and (max-width: 600px) {
		.clicker {
			align-items: stretch;
		}

		.leaderboard > div {
			flex-wrap: wrap;
		}
		.leaderboard > div > * {
			flex: 0 0 50%;
		}
	}

	.funny-container {
		position: fixed;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #0003;
		z-index: 1002;
	}
	/* .funny-container p {
		margin-bottom: 0;
	} */
	.container {
		max-width: calc(100% - 50px);
		text-align: left;
		border-radius: 12px;
		overflow: hidden;
		background-color: var(--background-3);
		box-shadow: 0 0 24px 12px #0007;
		padding: 20px;
	}
	.title {
		margin: 5px 0 10px 0;
	}
	.buttons {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	:is(button, a.button):not(.dismiss-button, :hover, :active) {
		background: var(--background-5);
	}
</style>
