---
import { Comment } from "~/models/comment";
import { DayGameStats } from "~/models/daygamestats";
import { Favorite } from "~/models/favorite";
import { Game } from "~/models/game";
import { GameSave } from "~/models/gamesave";
import Layout from "~/layouts/Layout.astro";
import { PlaySession } from "~/models/playsession";
import RewindDeveloper from "~/components/rewind/RewindDeveloper.svelte";
import { getDaynum } from "~/helper/daynums";

const { user, loggedIn, isUnderage } = Astro.locals.auth;

if (!loggedIn) return Astro.redirect("/rewind/error/?reason=login");
if (isUnderage) return Astro.redirect("/rewind/error/?reason=minor");

const year = new Date("2025");

const games = await Game.find({ author: user.id, verified: true }).lean();
const gameIds = games.map(game => game.id);
if (games.length === 0)
	return Astro.redirect("/rewind/error/?reason=developer");

const gameMetrics = await DayGameStats.aggregate([
	{ $match: { game: { $in: gameIds }, day: { $gte: getDaynum(year) } } },
	{
		$group: {
			_id: "$game",
			minutes: { $sum: "$minutes" },
			plays: { $sum: "$plays" },
		},
	},
]);

const longestSessions = await PlaySession.aggregate([
	{ $match: { game: { $in: gameIds }, endTime: { $gte: +year } } },
	{ $group: { _id: "$game", max: { $max: "$minutes" } } },
]);

const playerCount = (
	await PlaySession.aggregate([
		{ $match: { game: { $in: gameIds }, endTime: { $gte: +year } } },
		{ $group: { _id: "$user" } },
	])
).length;

const favorites = await Favorite.aggregate([
	{ $match: { game: { $in: gameIds }, createdAt: { $gte: year } } },
	{ $group: { _id: "$game", count: { $count: {} } } },
]);

const comments = await Comment.aggregate([
	{
		$match: {
			game: { $in: gameIds },
			createdAt: { $gte: year },
			deleted: false,
		},
	},
	{
		$project: {
			game: 1,
			hasReply: {
				$min: [{ $strLenCP: { $ifNull: ["$devResponse", ""] } }, 1],
			},
		},
	},
	{
		$group: {
			_id: "$game",
			count: { $count: {} },
			dev: { $sum: "$hasReply" },
		},
	},
]);

const cloudSaves = await GameSave.aggregate([
	{
		$match: {
			game: { $in: gameIds },
			updatedAt: { $gte: year },
		},
	},
	{
		$addFields: {
			length: { $strLenCP: "$data" },
		},
	},
	{
		$group: {
			_id: "$game",
			length: { $sum: "$length" },
			count: { $count: {} },
		},
	},
]);

// there's minimal data here, because there feels like only so many distinct values that
// i can pull data from for statistics that can't be construed _any way_ as negative.
//
// even if a developer has fully neglected their games on galaxy, and they were bad,
// i don't want rewind to be viewed as something that someone might feel like, "look how BAD"
// your games were on the site this year! you SUCK! etc.
//
// panel 1: intro
// panel 2: number of plays, players, hours
// panel 3: number of favorites, comments
// panel 4: cloud saves
// panel 4+1: game #1 -
// panel 4+2: game #2 - ...
// panel 4+n: game #n - ...
/// vvv scrapped :(
// panel 5+n: games overview (limited to top 3, if prolific developer)
// panel 6+n: thank you
---

<Layout
	title="developer rewind 2025 - galaxy"
	showFooter={false}
	ogp={{
		title: "???",
		description:
			"now is not the time",
		image: false,
	}}
>
	<main>
		<RewindDeveloper
			{games}
			{gameMetrics}
			{playerCount}
			{favorites}
			{comments}
			{cloudSaves}
			{longestSessions}
			client:load
		/>
	</main>
</Layout>
