---
import Layout from "~/layouts/Layout.astro";

const errors = {
	login: "you need to login to view your rewind.",
	minor: "underage accounts are not eligible for rewind.",
	activity:
		"we can't generate a rewind if you've played less than 3 games this year.",
	developer: "we can't generate a developer rewind if you have zero verified, non-deleted games on galaxy."
};

const error =
	errors[Astro.url.searchParams.get("reason")] ??
	"an unknown error occurred.";
---

<Layout
	title="rewind error - galaxy"
	ogp={{
		title: "???",
		description:
			"now is not the time",
		image: false,
	}}
>
	<main id="main">
		<p>an error prevented us from generating a rewind for you:</p>
		<p>{error}</p>
	</main>
</Layout>
