---
import { AF2024Participant } from "~/models/af2024participant";
import { Comment } from "~/models/comment";
import { Favorite } from "~/models/favorite";
import { Game } from "~/models/game";
import { GameSave } from "~/models/gamesave";
import Layout from "~/layouts/Layout.astro";
import { PlaySession } from "~/models/playsession";
import { Playtime } from "~/models/playtime";
import { Rating } from "~/models/rating";
import RewindPlayer from "~/components/rewind/RewindPlayer.svelte";
import { User } from "~/models/user";

const { user, loggedIn, isUnderage } = Astro.locals.auth;

if (!loggedIn) return Astro.redirect("/rewind/error/?reason=login");
if (isUnderage) return Astro.redirect("/rewind/error/?reason=minor");

const year = new Date("2025");
const gamePlaytimes = await Playtime.find({
	user: user.id,
	updatedAt: { $gte: year },
});
if (gamePlaytimes.length < 3)
	return Astro.redirect("/rewind/error/?reason=activity");

const aggregateGameSessionsPromise = PlaySession.aggregate([
	{
		$match: {
			user: user.id,
			endTime: { $gte: +year },
		},
	},
	{
		$group: {
			_id: "$game",
			minutes: { $sum: "$minutes" },
			count: { $count: {} },
		},
	},
]);

const cloudSavesPromise = GameSave.aggregate([
	{
		$match: {
			user: user.id,
			updatedAt: { $gte: year },
		},
	},
	{
		$addFields: {
			length: { $strLenCP: "$data" },
		},
	},
	{
		$group: {
			_id: "$user",
			length: { $sum: "$length" },
			count: { $count: {} },
		},
	},
]);

const counterPromise = AF2024Participant.findOne({ user: user.id }).lean();

const commentInfoPromise = Comment.aggregate([
	{
		$match: {
			author: user.id,
			deleted: false,
			createdAt: { $gte: year },
		},
	},
	{
		$group: {
			_id: "$author",
			count: { $count: {} },
			ups: { $sum: "$upCount" },
			downs: { $sum: "$downCount" },
		},
	},
]);

const ratingsQueryPromise = Rating.aggregate([
	{
		$match: {
			author: user.id,
			updatedAt: { $gte: year },
		},
	},
	{
		$group: {
			_id: "$rating",
			count: { $count: {} },
		},
	},
]);

const favoritesPromise = Favorite.countDocuments({
	user: user.id,
	updatedAt: { $gte: year },
});

const [
	aggregateGameSessions,
	cloudSaves,
	counter,
	commentInfo,
	ratingsQuery,
	favorites,
] = await Promise.all([
	aggregateGameSessionsPromise,
	cloudSavesPromise,
	counterPromise,
	commentInfoPromise,
	ratingsQueryPromise,
	favoritesPromise,
]);

let topTimeSessions = aggregateGameSessions
	.sort((a, b) => b.minutes - a.minutes)
	.slice(0, 3);
let topPlayedSessions = aggregateGameSessions
	.sort((a, b) => b.count - a.count)
	.slice(0, 3);

// This probably just creates a LOT of duplicated but this feels like it'd be a MOTHERFUCKER of a potential edge case
// So I'm doing this just in case
const playedGameIDs = [
	...gamePlaytimes.map(playtime => playtime.game),
	...topTimeSessions.map(_ => _._id),
	...topPlayedSessions.map(_ => _._id),
];
const games = await Game.find({ id: { $in: playedGameIDs } }).lean();

// Sloppy solution for https://discord.com/channels/733427849184411740/1003103753672601661/1315518653336125451
topTimeSessions = aggregateGameSessions
	.filter(game => games.some(gameDoc => gameDoc.id === game._id))
	.sort((a, b) => b.minutes - a.minutes)
	.slice(0, 3);
topPlayedSessions = aggregateGameSessions
	.filter(game => games.some(gameDoc => gameDoc.id === game._id))
	.sort((a, b) => b.count - a.count)
	.slice(0, 3);

const [topGamePercentileData, topGameAuthor] = await Promise.all([
	PlaySession.aggregate([
		{
			$match: {
				game: topTimeSessions[0]._id,
				endTime: { $gte: +year },
			},
		},
		{
			$group: {
				_id: "$user",
				minutes: { $sum: "$minutes" },
			},
		},
		{
			$sort: {
				minutes: -1,
			},
		},
	]),
	User.findOne({
		id: games.find(game => game.id === topTimeSessions[0]._id).author,
	}).lean(),
]);

const topGameRanking: [number, number, number] = [
	topGamePercentileData.findIndex(entry => entry._id === user.id) + 1,
	topGamePercentileData.length,
	topTimeSessions[0]._id,
];

const ratings = new Array(5).fill(0) as [
	number,
	number,
	number,
	number,
	number,
];
ratingsQuery.forEach(doc => {
	ratings[doc._id - 1] = doc.count;
});

const totalTime = aggregateGameSessions.reduce((a, b) => a + b.minutes, 0);

// panel 1: intro
// panel 2: game overview, fancy game background
// panel 3: top played games
// panel 4: top sessioned games
// panel 5: cloud saves
// panel 6: top x% of <game>
// panel 7: (if participated) /counter
// panel 8: comments / comment scores
// panel 9: ratings and favorites
// panel 10: your "type" (maybe something space themed?)
// panel 11: stats overview
// panel 12: collective stats (ditched for now, might add back)
// panel 13: thank you
---

<Layout title="rewind 2025 - galaxy" showFooter={false} ogp={{
	title: "???",
	description: "now is not the time",
	image: false
}}>
	<main>
		<RewindPlayer
			{games}
			{topTimeSessions}
			{topPlayedSessions}
			cloudSaves={cloudSaves[0]}
			{topGameRanking}
			{topGameAuthor}
			{counter}
			commentInfo={commentInfo[0]}
			{ratings}
			{favorites}
			{totalTime}
			client:load
		/>
	</main>
</Layout>
