---
import { getTagCategories, getTagData } from "~/helper/tags";
import { CategoryModerator } from "~/models/categorymod";
import Form from "~/components/Form.astro";
import { ForumCategory } from "~/models/forumcategory";
import { Game } from "~/models/game";
import GameEditor from "~/components/GameEditor.svelte";
import Layout from "~/layouts/Layout.astro";

const { editId } = Astro.params;
// string | number -> string -> number
// wtf, ts?
const editNum = parseInt(editId.toString());
if (isNaN(editNum)) return new Response(null, { status: 404 });

const game = await Game.findOne({ id: editNum }).lean();
if (!game) return new Response(null, { status: 404 });

const { user, loggedIn, needsVerification } = Astro.locals.auth;

if (!loggedIn || game.author !== user.id) return Astro.redirect("/");

const linkedCategory = await ForumCategory.find({
	linkedGames: game.id,
}).lean();
const moddedCategories = await CategoryModerator.find({
	user: user.id,
	perms: { $gte: 2 },
}).lean();
const categoryData = {};
if (moddedCategories.length >= 1) {
	const categoryDocs = await ForumCategory.find({
		id: { $in: moddedCategories.map(n => n.category) },
	}).lean();
	categoryDocs.forEach(category => {
		categoryData[category.id as number] = category;
	});
}

game.verified = game.verified === true;
---

<Layout title={`editing ${game.name} - galaxy`}>
	<main id="main" class="nomargin">
		<GameEditor
			game={game}
			linkedCategory={linkedCategory}
			moddedCategories={moddedCategories}
			categoryData={categoryData}
			tagCategories={getTagCategories()}
			tagData={getTagData()}
			client:only="svelte"
		/>
	</main>
	<Form cssOnly />
</Layout>

<style is:global>
	#unverified {
		width: calc(100% - 20px);
		padding: 10px;
		background: var(--background-red-1);
	}
</style>
