<script lang="ts">
	import type { IFrontendGameSave, IGame } from "~/types";
	import { alert, post, promptLogin } from "~/libgalaxy";
	import DateTime from "../DateTime.svelte";
	import Icon from "@iconify/svelte";
	import { tweaks_hideHeader } from "./modiStore";

	type GameSaveWithState = (
		IFrontendGameSave &
		{ state?: "loading" | "saving" | "deleting" }
	);

	export let game: IGame;
	export let loggedIn: boolean;
	export let unexpand: () => void;

	let savesLoaded = false;
	let showCreateSave = false;
	let isCreateSaveBusy = false;
	let loadedSaves: GameSaveWithState[] = [];

	function csLogin() {
		if ($tweaks_hideHeader) unexpand();
		promptLogin();
	}

	async function refreshSaves(skipLoad = false) {
		if (skipLoad) savesLoaded = false;
		const { saves } = await post(
			"/api/gapi/saves/list",
			{
				game: game.id,
			},
			{ errorOnFailure: false }
		);
		if (saves !== undefined) loadedSaves = saves;
		savesLoaded = true;
	}

	async function loadSave(save: GameSaveWithState) {
		
		save.state = "loading";
		loadedSaves = loadedSaves;

		const res = await post("/api/gapi/saves/get", {
			slot: save.slot,
			game: game.id,
		});
		if (res._resCode === 200) save.data = res.data;
		
		delete save.state;
		loadedSaves = loadedSaves;
	}

	async function copySave(slot: number) {
		const save = loadedSaves.find(s => s.slot === slot);
		if (!save) return;

		if (!save.data) {
			await loadSave(save);
		}

		try {
			navigator.clipboard.writeText(save.data);
			alert.success("Copied save!");
		} catch {
			prompt(
				"We could not copy your save automatically. You can find it in this box below:",
				save.data
			);
		}
	}

	// Wrapper func for repetitive /saves/set usage
	async function modifySave(slot: number, data: string, label: string) {

		// Update saving state
		const save = loadedSaves.find(x => x.slot === slot);
		if (save)  {
			save.state = "saving";
			loadedSaves = loadedSaves;
		}
		isCreateSaveBusy = true;

		const res = await post("/api/gapi/saves/set", {
			slot,
			data,
			label,
			game: game.id,
		});
		isCreateSaveBusy = false;
		refreshSaves(true);
		return res;
	}

	let creatingDataInput: HTMLInputElement = null;
	let creatingSlot = "0";
	let creatingData = "";
	let creatingLabel = "";
	let overwritingSlot = -1;
	let overwritingData = "";
	let deletingSave = -1;
	async function createSave() {
		const slot = parseInt(creatingSlot);
		const res = await modifySave(slot, creatingData, creatingLabel);

		if (res._resCode === 200) {
			if (loadedSaves.some(s => s.slot === slot))
				alert.success("Save edited!");
			else alert.success("Save created!");
			creatingSlot = "";
			creatingData = "";
			creatingLabel = "";
			showCreateSave = false;
		}
	}

	function validateSlot() {
		setTimeout(() => {
			if (creatingSlot === "") return;
			const num = parseFloat(creatingSlot);
			if (isNaN(num)) creatingSlot = "";
			else if (num < 0) creatingSlot = "0";
			else if (num > 10) creatingSlot = "10";
			else creatingSlot = num.toString();
		}, 0);
	}

	// TODO merge these 2 functions?
	async function editSave(slot: number) {
		const save = loadedSaves.find(s => s.slot === slot);
		if (!save.data) await loadSave(save);
		creatingSlot = slot.toString();
		creatingLabel = save.label;
		creatingData = save.data;
		showCreateSave = true;
		creatingDataInput.focus();
	}

	async function deleteSave(slot: number) {
		// Update saving state
		const save = loadedSaves.find(x => x.slot === slot);
		if (save) {
			save.state = "deleting";
			loadedSaves = loadedSaves;
		}

		const res = await post("/api/gapi/saves/delete", {
			slot,
			game: game.id,
		});
		if (res._resCode === 200) alert.success("Save deleted!");
		refreshSaves(true);
		deletingSave = -1;
	}

	function checkCreator() {
		showCreateSave = creatingData !== "";
	}

	function cancelCreation() {
		showCreateSave = false;
		creatingData = "";
		creatingSlot = "0";
		creatingLabel = "";
	}

	function openOverwrite(slot: number) {
		overwritingSlot = slot;
		overwritingData = "";
		setTimeout(() => document.getElementById("overwrite-input").focus(), 0);
	}

	function checkOverwrite(e: KeyboardEvent) {
		console.log(e.key);
		if (e.key === "Enter") confirmOverwrite();
	}

	function confirmOverwrite() {
		modifySave(
			overwritingSlot,
			overwritingData,
			loadedSaves.find(s => s.slot === overwritingSlot).label
		);
		overwritingSlot = -1;
	}

	refreshSaves();
</script>

{#if loggedIn}
	<input
		class="paste-your-save"
		class:active={showCreateSave}
		disabled={isCreateSaveBusy}
		bind:this={creatingDataInput}
		bind:value={creatingData}
		on:paste={() => (showCreateSave = true)}
		on:input={checkCreator}
		placeholder="paste your save data here..."
	/>
	{#if showCreateSave}
		<div id="save-creator">
			{#if isCreateSaveBusy}
				<div style="text-align: center; margin-block: 20px;">
					{loadedSaves.some(s => s.slot === parseInt(creatingSlot))
						? "overwriting save..."
						: "creating save..."}
				</div>
			{:else}
				<div>
					<input
						type="text"
						placeholder="optional save label"
						bind:value={creatingLabel}
					/>
				</div>
				<div class="slot-input">
					save to slot <input
						type="number"
						placeholder="..."
						on:input={validateSlot}
						bind:value={creatingSlot}
					/> <span class="unimportant">between 0 and 10</span>
				</div>
				<div style="text-align: center">
					<button on:click={createSave}>
						{loadedSaves.some(s => s.slot === parseInt(creatingSlot))
							? "overwrite"
							: "create"}
					</button>
					<button on:click={cancelCreation}>cancel</button>
				</div>
			{/if}
		</div>
	{/if}
	<div id="save-menu">
		{#if savesLoaded}
			{#each loadedSaves as save}
				<div class="save">
					<button
						on:click={() => copySave(save.slot)}
						class="save-big-button"
						disabled={save.state !== undefined || deletingSave === save.slot || overwritingSlot === save.slot}
					>
						<div class="info unimportant">
							<span style="float: left">
								{#if !save.data}
									<Icon icon="material-symbols:cloud-download-outline" width="16" 
										style="vertical-align: -3px;"
										alt="needs downloading" title="needs downloading" />
								{/if}
								{save.length.toLocaleString()} bytes
							</span>
							<span style="float: right">
								slot {save.slot}
							</span>
						</div>
						<h3 class="nomargin">
							{save.label || `unnamed save`}
						</h3>
						<p class="nomargin">
							<DateTime date={save.time} />
						</p>
						{#if save.state === "saving"}
							<div class="big-overlay">overwriting save...</div>
						{:else if save.state === "loading"}
							<div class="big-overlay">loading save...</div>
						{:else if save.state === "deleting"}
							<div class="big-overlay">deleting save...</div>
						{:else if deletingSave === save.slot}
							<div class="big-overlay">really delete save?</div>
						{:else if overwritingSlot === save.slot}
							<div class="big-overlay">
								<input
									id="overwrite-input"
									placeholder="enter save to overwrite"
									on:keypress={checkOverwrite}
									bind:value={overwritingData}
								/>
							</div>
						{/if}
					</button>
					<div class="save-small-buttons">
						{#if save.state !== undefined} 
							<div>
								please wait
							</div>
						{:else if overwritingSlot === save.slot}
							<button
								class="modify-red"
								on:click={() => (overwritingSlot = -1)}
							>
								cancel
							</button>
							<button
								class="modify-green"
								on:click={confirmOverwrite}
								disabled={!overwritingData}
							>
								save
							</button>
						{:else if deletingSave === save.slot}
							<button
								on:click={() => (deletingSave = -1)}
								class="modify-green"
							>
								keep
							</button>
							<button
								on:click={() => deleteSave(save.slot)}
								class="modify-red"
							>
								trash
							</button>
						{:else}
							<button on:click={() => openOverwrite(save.slot)}>
								overwrite
							</button>
							<button on:click={() => editSave(save.slot)}>
								edit
							</button>
							<button
								on:click={() =>
									(deletingSave = save.slot)}
							>
								delete
							</button>
						{/if}
					</div>
				</div>
			{:else}
				<h3 style="text-align: center">
					no saves?
				</h3>
				<p style="text-align: center; margin-block: 4px;">
					You have no cloud saves for {game.name}... yet.
				</p>
				<p style="text-align: center; margin-block: 4px;">
					Create your first cloud save by pasting a save string to the field above!
				</p>
			{/each}
			{#if loadedSaves.length}
				<p class="unimportant" style="text-align: center">
					click a save to copy it
				</p>
			{/if}
		{:else}
			<p style="text-align: center">loading saves...</p>
		{/if}
	</div>
{:else}
	<div
		style="text-align: center; height: 100%"
		class="flex-centervert flex-centerhoriz"
	>
		<div>
			<p style="max-width: 225px">
				you need to have an account to use cloud saving
			</p>
			<button on:click={csLogin}>log in</button>
			<a class="button" href="/signup" target="_blank">sign up</a>
		</div>
	</div>
{/if}

<style>
	#save-menu {
		margin: 10px;
	}

	#save-creator {
		background: var(--background-2);
		padding: 4px;
		padding-bottom: 8px;
	}

	#save-creator input {
		background: var(--background-0);
		width: calc(100% - 44px);
		margin: 6px 10px 2px 10px;
	}

	#save-creator .slot-input {
		margin: 2px 10px 4px 10px;
	}

	#save-creator .slot-input input {
		display: inline-block;
		width: 40px;
		margin: 0 3px 0 0;
		padding: 0 0 0 4px;
		appearance: textfield;
		-moz-appearance: textfield;
	}

	#save-creator .slot-input input::-webkit-inner-spin-button,
	#save-creator .slot-input input::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.paste-your-save {
		background: var(--background-2);
		width: 100%;
		height: 30px;
		box-sizing: border-box;
	}

	.paste-your-save.active {
		background: var(--background-0);
	}

	.save {
		display: grid;
		grid-template-rows: 85px 30px;
		max-width: 100%;
		gap: 2px;
	}

	.save-big-button {
		height: 100%;
		border-radius: 8px 8px 0 0;
		text-decoration: none !important;
		line-height: unset;
		padding: 0 8px;
		position: relative;
	}

	.save-big-button .info {
		position: absolute;
		top: 6px;
		left: 10px;
		right: 10px;
	}

	.save-big-button h3 {
		max-width: 250px;
		margin: auto;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.save-big-button .big-overlay {
		opacity: 0.9;
		position: absolute;
		inset: 0;
		border-radius: 8px 8px 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		background: var(--background-2);
		color: var(--color-0);
		cursor: default;
	}
	.save-big-button #overwrite-input {
		border-radius: 8px 8px 0 0;
		flex: 1;
	}

	.save-small-buttons {
		display: flex;
	}

	.save-small-buttons > * {
		flex: 0 1 100%;
		border-radius: 0;
	}

	.save-small-buttons > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		background: var(--background-3);
		color: var(--color-5);
		margin: 2px 2px 0 0;
		box-shadow: 1px 0 5px #0007;
		height: 26px;
		line-height: 26px;
	}

	.save-small-buttons :first-child {
		border-bottom-left-radius: 8px;
	}

	.save-small-buttons :last-child {
		border-bottom-right-radius: 8px;
	}

	.modify-red {
		color: var(--color-red-1);
	}
	.modify-green {
		color: var(--color-green-1);
	}
	.modify-red:not(:disabled):hover {
		background: var(--background-red-1);
	}
	.modify-green:not(:disabled):hover {
		background: var(--background-green-1);
	}
</style>
