<script lang="ts">
	import type { AdminOps } from "~/helper/adminHelper";
	import AdminUserCard from "../AdminUserCard.svelte";
	import type { IChatMessage } from "~/types";

	export let adminOps: AdminOps;
	export let data: IChatMessage;

	let isJSON = false;
</script>

<h4>chat message</h4>

{#if data.deleted}
	<h1>this chat message has been deleted.</h1>
{/if}

{#if isJSON}
	<pre>{JSON.stringify(data, null, 3)}</pre>
{:else}
	<div>
		<button
			on:click={() => {
				isJSON = !isJSON;
			}}>{isJSON ? "hide" : "show"} JSON</button
		>
		<a href="/chat/{data.channel}" class="button" target="_blank">
			open channel
		</a>
	</div>

	<h6>author</h6>
	<div><AdminUserCard data={adminOps.getUser(data.author)} {adminOps} /></div>
	<br />

	<h6>channel</h6>
	<div><code>{data.channel}</code></div>
	<br />

	<h6>content</h6>
	<div>{data.content}</div>
{/if}
