<script lang="ts">
	import DataTable from "../DataTable.svelte";
	import FeedPagination from "../FeedPagination.svelte";
	import type { IChatMessage } from "~/types";
	import TablePanel from "./TablePanel.svelte";
	import { post } from "~/libgalaxy";

	export let adminOps;

	let data: IChatMessage[] = [];
	let page = 1;
	let pageCount = 1;
	let isReady = false;

	async function loadData() {
		const res = await post("/api/admin/query/chatFeed", { page });
		console.log(res);

		data = res.result;
		pageCount = res.pageCount;

		isReady = true;
	}

	function setPage(pg: number) {
		page = pg;
		isReady = false;
		loadData();
	}

	loadData();
</script>

<TablePanel>
	<strong>chat</strong>
	{#if isReady}
		<FeedPagination {page} {pageCount} {setPage} />
		<DataTable
			data={data.map((x, i) => ({
				id: i,
				author: adminOps.getUser(x.author),
				channel: x.channel,
				content: (() => {
					let str = String(x.content);
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
			}))}
			schema={{
				author: { name: "author", type: "user" },
				channel: { name: "channel" },
				content: { name: "content" },
			}}
			onitemclick={x =>
				adminOps.addModal(
					"chatmessage",
					data.find((y, i) => i == x.id)
				)}
			tall
		/>
	{:else}
		<span>loading...</span>
	{/if}
</TablePanel>
