---
import ErrorResponse from "~/components/ErrorResponse.astro";
import Layout from "~/layouts/Layout.astro";

const { context } = Astro.props;

let errorDetails = "seems like there isn't anything here";
const errorList = ["not found", "huh?", "undefined", "", "[object Object]"];

switch (context) {
	case "user":
		errorDetails = "sorry, we don't know anyone like that";
		errorList.push(
			"user not found",
			"but nobody came",
			"this user doesn't exist",
			"this user is invisible",
			"this user is anonymous",
			"🫥"
		);
		break;
	default:
		errorList.push(
			"it's empty",
			"looks like we're lost",
			"welcome to nothingness",
			"this page doesn't exist",
			"you shouldn't be here",
			"this is a dead end"
		);
		break;
}

Astro.response.status = 404;
---

<Layout title="not found - galaxy">
	<main id="main">
		<ErrorResponse status={404} title={errorList}>
			<p>{errorDetails}</p>
		</ErrorResponse>
	</main>
</Layout>

<style></style>
