---
import { type UserCompletedGameMap, getUserCompletedGames } from "~/helper/completed";
import AstroGameList from "~/components/AstroGameList.astro";
import DetailedGameCard from "~/components/DetailedGameCard.svelte";
import type { ExploreType } from "~/helper/explore";
import IndexHeader from "~/components/IndexHeader.astro";
import Layout from "~/layouts/Layout.astro";

export type ExploreItem = {
	type: ExploreType;
	title: string;
	link?: string; // Not used right now, but could be used for future updates ?
}

const perList = 30;
const explores: ExploreItem[] = [
	{ type: "recent", title: "recently updated" },
	{ type: "top", title: "top rated" },
	{ type: "playtime", title: "most grinded" },
	{ type: "new", title: "fresh new" },
	{ type: "faves", title: "top favorited" },
 	{ type: "playcount", title: "top play count" },
	// for posterity: random is the cool kid of the group.
	{ type: "random", title: "random" },
]

const filter = Astro.cookies.get("filters")?.value ?? "";
const { user, loggedIn, needsVerification } = Astro.locals.auth;

// It's not awaited here but in the AstroGameList component
const completedGames = loggedIn ? getUserCompletedGames(user.id) : new Map() as UserCompletedGameMap;
---

<Layout
	title="galaxy"
	user={{ user, loggedIn, needsVerification }}
	ogp={{
		largeImage: true,
		image: "/brand/Banner.png",
		title: "galaxy.click",
	}}
>
	<IndexHeader loggedIn={loggedIn} />

	<main id="main">
		<div style="margin-top: 15px;">
			{
				explores.map(
					(explore) => <AstroGameList
									{explore}
									{completedGames}
									{perList}
									{filter}
								/>
				)
			}
		</div>
	</main>
</Layout>
<DetailedGameCard client:load />
