---
import DetailedGameCard from "~/components/DetailedGameCard.svelte";
import { Favorite } from "~/models/favorite";
import { Game } from "~/models/game";
import Icon from "@iconify/svelte";
import Layout from "~/layouts/Layout.astro";
import { Playtime as PlaytimeModel } from "~/models/playtime";
import PlayedGamesView from "~/components/PlayedGamesView.svelte";
import { formatPlaytime } from "~/helper/format";
import { getUserCompletedGames } from "~/helper/completed";

const { user, loggedIn, needsVerification } = Astro.locals.auth;
if (!loggedIn || needsVerification) return Astro.redirect("/");

const [playtimes, favorites, completedGames] = await Promise.all([
	PlaytimeModel.find({ user: user.id }),
	Favorite.find({ user: user.id }),
	getUserCompletedGames(user.id)
]);

const allPossibleIds = new Set([...playtimes.map(p => p.game), ...favorites.map(f => f.game), ...completedGames.keys()])

const games = await Game.find({ id: { $in: Array.from(allPossibleIds) } });
const sum = playtimes.reduce((a, b) => a + b.minutes, 0);
---

<Layout title="played games - galaxy">
	<main id="main">
		<p id="playtime-big">
			<Icon icon="material-symbols:timer" inline client:idle />{
				formatPlaytime(sum)
			}
			total
		</p>
		<PlayedGamesView
			playtimes={playtimes.map(p => p.toObject())}
			favorites={favorites.map(f => f.game)}
			rawGames={games.map(g => g.toObject())}
			{completedGames}
			client:only="svelte"
		/>
	</main>
</Layout>
<DetailedGameCard client:load />
<style>
	#playtime-big {
		font-size: 40px;
		text-align: center;
		margin: 30px;
	}
</style>
