---
import ErrorResponse from "~/components/ErrorResponse.astro";
import type { IUser } from "~/types";
import Layout from "~/layouts/Layout.astro";
import { User } from "~/models/user";
import { UserAuth } from "~/models/userauth";
import { convertFormat } from "~/libgalaxy";

let correct = true;

const token = Astro.url.searchParams.get("key");
if (token == null) correct = false;

const userAuth = await UserAuth.findOne({
	passwordReset: token,
	passwordResetExpiry: { $gt: Date.now() },
});
let user = {} as IUser;
if (userAuth == null) correct = false;
else user = await User.findOne({ id: userAuth.id });
---

<Layout title="password reset - galaxy">
	<main id="main">
		{
			correct ? (
				<>
					<h1>
						resetting password for
						<img
							src={convertFormat(
								"/pfp/medium/",
								user.id,
								user.pfpTimestamp
							)}
							width="32"
						/>{" "}
						<b>{user.name}</b>
					</h1>
					<input
						type="password"
						placeholder="New password"
						id="password"
					/>
					<input
						type="password"
						placeholder="Repeat password"
						id="repeat-password"
					/>
					<button onclick="newPassword()">Submit</button>
				</>
			) : (
				<ErrorResponse status={401} title={["damn"]}>
					<p>that's not a valid password reset token.</p>
				</ErrorResponse>
			)
		}
	</main>
</Layout>

<script>
	import { post, alert } from "~/libgalaxy";

	// @ts-expect-error
	window.newPassword = async function () {
		// @ts-expect-error
		const password = document.getElementById("password").value;

		// @ts-expect-error
		const repeatPassword = document.getElementById("repeat-password").value;

		if (password !== repeatPassword)
			return alert.error("The new passwords don't match.");

		const res = await post("/api/users/reset/reset", {
			token: new URLSearchParams(location.search).get("key"),
			password,
		});

		if (res.done) window.location.href = "/";
	};
</script>
