---
import { type UserCompletedGameMap, getUserCompletedGames } from "~/helper/completed";
import { getTagCategories, getTagData } from "~/helper/tags";
import { queryFromSearchParams, search } from "~/helper/search";
import DetailedGameCard from "~/components/DetailedGameCard.svelte";
import Form from "~/components/Form.astro";
import GenericGameList from "~/components/GenericGameList.svelte";
import Layout from "~/layouts/Layout.astro";
import SearchWidget from "~/components/SearchWidget.svelte";

const { user, loggedIn, needsVerification } = Astro.locals.auth;

// const games = await Game.aggregate([{ $match: { $text: { $search: t } } }])
// const games = await search({ t: "Tree", s: "ratingBest", tags: [] })

const query = queryFromSearchParams(Astro.url.searchParams);
const [games, completedGames] = await Promise.all([
	search(query, Astro.cookies.get("filters")?.value ?? ""),
	loggedIn ? await getUserCompletedGames(user.id) : new Map() as UserCompletedGameMap,
]);
---

<Layout title="search - galaxy" user={{ user, loggedIn, needsVerification }}>
	<main id="main">
		<div id="container">
			<SearchWidget
				tagList={getTagData()}
				tagCategories={getTagCategories()}
				client:only="svelte"
			/>
			<GenericGameList
				games={games}
				allowGameList={false}
				title="results"
				client:load
				completedGames={completedGames}
			/>
		</div>
	</main>
</Layout>
<DetailedGameCard client:load />
<Form cssOnly />

<style>
	#main {
		margin-top: 50px;
	}
</style>
