---
import Form from "~/components/Form.astro";
import Layout from "~/layouts/Layout.astro";
import SignupForm from "~/components/Signup.svelte";
import { env } from "~/helper/env";

if (Astro.cookies.has("token")) return Astro.redirect("/");

const birthInfo: [number, number] = Astro.cookies.has("birth-info")
	? (Astro.cookies
			.get("birth-info")
			.value.split(",")
			.map(n => parseInt(n, 10)) as [number, number])
	: [-1, 0];
---

<Layout title="sign up - galaxy">
	<main id="main">
		<h1>welcome to galaxy</h1>
		<SignupForm
			initialBirthInfo={birthInfo}
			turnstileSiteKey={env.TURNSTILE_SITEKEY}
			client:load
		/>
		<Form cssOnly />
	</main>
</Layout>

<script is:inline>
	function captchaDone(token) {
		window.captcha = token;
	}
</script>

<!-- <script>
	import { alert, form } from "~/libgalaxy";

	form(
		"signup",
		["name", "email", "password", "year", "month", "captcha"],
		res => {
			if (res.name) {
				alert.success("Account created!");
				window.location.href = "/signedup";
			}
		},
		false,
		() => {
			if (
				// @ts-ignore
				document.getElementById("password").value !==
				// @ts-ignore
				document.getElementById("retype-password").value
			)
				return "Passwords do not match";
			if (
				// @ts-ignore
				!document.getElementById("compliance").checked
			)
				return "Please read and agree to the Terms of Service, Privacy Policy, and Acceptable Use Policy";
			return true;
		}
	);

	// @ts-ignore
	window.captchaDone = (token: string) => {
		// @ts-ignore
		document.querySelector("[name='captcha']").value = token;
	};

	(
		document.getElementById("year-select") as HTMLSelectElement
	).addEventListener("change", e => {
		(
			document.getElementById("enter-button") as HTMLButtonElement
		).disabled = false;

		const year = parseInt((e.target as HTMLSelectElement).value, 10);
		const currentYear = new Date().getFullYear();
		if (currentYear - year <= 13) {
			document.getElementById("month-select-wrapper").style.display =
				"flex";
			document.getElementById("whodunnit").textContent =
				"A parent of guardian of mine has";
		} else {
			document.getElementById("month-select-wrapper").style.display =
				"none";
			document.getElementById("whodunnit").textContent = "I have";
		}
	});
</script> -->
<!-- <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script> -->
