---
import Form from "~/components/Form.astro";
import type { IUserAuth } from "~/types";
import Layout from "~/layouts/Layout.astro";
import { UserAuth } from "~/models/userauth";
import { userUnder13 } from "~/helper/coppa";

// Commented out to allow for signing up from any device
// if (!Astro.cookies.has("token")) return Astro.redirect("/signup");

// If the user is already verified they shouldn't be here
const { needsVerification, loggedIn, user } = Astro.locals.auth;
if (!needsVerification && loggedIn) return Astro.redirect("/");

let userAuth: IUserAuth = null;
if (needsVerification) userAuth = await UserAuth.findOne({ id: user.id });

// These conditions should only be true if a user has had their age requested by staff.
if (loggedIn && userAuth.parentState === 0 && userAuth.birthYear === undefined) return Astro.redirect("/coppa/birthday");

const isUnderage = userAuth === null ? false : userUnder13(userAuth);
const awaitingParentConsent =
	isUnderage && userAuth.emailVerified === true && userAuth.parentState === 0;
---

<!-- TODO This whole thing is a logical nightmare to comprehend by a human. This should be refactored -->
<Layout title="yippee :) - galaxy">
	<main id="main">
		<h1>welcome to galaxy</h1>
		{isUnderage && <div id="child-indicator" style="display: none" />}
		<Form>
			<p>thanks for making an account. we promise you won't regret it!</p>
			{
				awaitingParentConsent ? (
					<p>
						we're currently waiting to hear back from your parent
						about your account.
					</p>
				) : (
					<>
						<p>
							please check your email
							{needsVerification
								? ` (${userAuth.email})`
								: ""}{" "}
							including your spam folder to see if you got the
							verification code.
						</p>
						it may take several minutes for the email to
						arrive&mdash;sorry about that. if you still don't
						receive it or you made a typo in your email address,
						send an email to support [at] galaxy [dot] click. don't
						be scared, we don't bite!
						{isUnderage && (
							<p>
								because you're a minor, we also have to keep
								your parents informed as to what you're doing on
								the internet. enter the email address of a
								parent or guardian below, and we'll send them
								another verification email.
							</p>
						)}
						<hr />
						<div data-label="email verification code">
							<input
								type="text"
								id="email-code"
								placeholder="ABCdefGHIjklMNOpqrSTUvwxYZ123"
							/>
						</div>
						{isUnderage && (
							<div data-label="parent/guardian's email">
								<input
									type="text"
									id="email"
									placeholder="for legal reasons!"
								/>
							</div>
						)}
						<hr />
						<div>
							<button onclick="verify()">verify</button>
							<button onclick="resend()">resend code</button>
						</div>
					</>
				)
			}
		</Form>
	</main>
</Layout>
<script>
	import { alert, post } from "~/libgalaxy";

	// @ts-expect-error
	window.verify = async function () {
		const input = document.getElementById("email-code") as HTMLInputElement;
		const emailInput = document.getElementById("email") as HTMLInputElement;
		const res = await post("/api/users/verify", {
			code: input.value,
			parentEmail: emailInput?.value,
		});
		if (res._resCode === 200) {
			alert.success("Welcome to Galaxy!");
			setTimeout(() => {
				window.location.href = "/";
			}, 2000);
		}
	};

	// @ts-expect-error
	window.resend = async function () {
		const res = await fetch("/api/users/resend", {
			method: "POST",
			headers: {
				Accept: "application/json",
			},
		});
		if (res.status === 200) {
			alert.success("Resent!");
		}
	};

	const code = new URLSearchParams(window.location.search).get("code");
	if (code) {
		(document.getElementById("email-code") as HTMLInputElement).value =
			code;

		// Don't auto-verify when a child needs to ender their parent's email address
		if (document.getElementById("child-indicator") === undefined) {
			// @ts-ignore
			window.verify();
		}
	}
</script>
<style>
	p {
		margin: 0;
	}
</style>
