<script lang="ts">
	// import UserChip from "../UserChip.svelte";
	import type { IForumCategory, IForumThread, IUser } from "~/types";
	import Icon from "@iconify/svelte";
	import Pfp from "../Pfp.svelte";

	export let category: IForumCategory;
	export let user: IUser;
	export let thread: IForumThread | null;

	$: color =
		category.color === "default"
			? "var(--color-1)"
			: `var(--color-${category.color}-1)`;
</script>

<article class="category">
	<a class="button category-icon" href="/forum/category/{category.slug}">
		<Icon icon={category.icon} {color} width="48" />
	</a>
	<div class="category-info">
		<a
			class="button category-button"
			href="/forum/category/{category.slug}"
		>
			<h3 class="category-title">
				{#if category.locked}
					<Icon icon="ic:baseline-lock" inline />
				{/if}
				{category.name}
			</h3>
			<div class="category-stats">
				#{category.slug} |
				{category.threadCount} threads,
				{category.postCount} posts
			</div>
			<div class="category-description">
				{category.description || "Undescribed forum"}
			</div>
		</a>
		<div class="category-example">
			{#if thread !== null}
				<a
					class="button category-example-author"
					href="/user/{user.id}"
				>
					<Pfp
						userId={user.id}
						pfpTimestamp={user.pfpTimestamp}
						size="medium"
					/>
				</a>
				<a
					class="button category-example-post"
					href="/forum/thread/{thread.id}"
				>
					<i class="unimportant">latest thread:</i>
					{thread.name}
				</a>
			{:else}
				<a
					class="button category-example-post"
					href="/forum/compose/{category.slug}"
				>
					<i class="unimportant">there are no threads</i>
					be the first one to post!
				</a>
			{/if}
		</div>
	</div>
</article>

<style>
	.category {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}
	.category a.button {
		margin: 0;
		border-radius: 5px;
	}

	.category-icon {
		display: flex;
		width: 80px;
		height: 80px;
		flex: 0 0 80px;
		padding: 0;
		align-items: center;
		justify-content: center;
	}

	.category-info {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.category-button {
		display: block;
		width: auto;
		height: auto;
		padding: 8px 12px;
		line-height: initial;
		background: var(--background-2);
	}
	:is(.category-button, .category-example-post):is(:hover, :focus-visible) {
		background: var(--background-active-3) !important;
		text-decoration: none !important;
	}

	.category-title {
		margin-block: 0;
	}
	.category-stats {
		font-size: smaller;
		margin-bottom: 3px;
		opacity: 0.5;
	}

	.category-example {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}

	.category-example-author {
		display: block;
		width: 30px;
		height: 30px;
		padding: 0;
	}

	.category-example-post {
		flex-grow: 1;
		height: auto;
		line-height: initial;
		padding: 6px 8px;
		background: var(--background-2);
	}

	.category-example-post i {
		font-size: smaller;
		opacity: 0.5;
	}

	.category-example-author :global(img) {
		width: 30px;
		border-radius: 5px;
	}
</style>
