<script lang="ts">
	import type { IForumThread, IUser } from "~/types";
	import DateTime from "../DateTime.svelte";
	import Icon from "@iconify/svelte";
	import UserChip from "../UserChip.svelte";
	import { convertFormat } from "~/libgalaxy";

	export let thread: IForumThread;
	export let user: IUser;
	export let background = "var(--background-2)";
</script>

<article class="thread">
	<a class="button thread-icon" href="/user/{thread.author}">
		<img
			alt={user.name}
			src={convertFormat(
				"/pfp/medium/",
				thread.author,
				user.pfpTimestamp
			)}
		/>
	</a>
	<div class="thread-info">
		<div class="userchip-show-if-small">
			<UserChip {user} small />
		</div>
		<div class="thread-meta">
			<div class="userchip-hide-if-small">
				<UserChip {user} small />
			</div>
			<span
				><DateTime
					date={thread.when ?? new Date()}
					style="date"
				/></span
			>
			{#if thread.pinned || thread.locked || typeof thread.solution === "number"}
				<span class="small-thread-info">
					{#if thread.pinned}
						<Icon icon="mdi:pin" />
					{/if}
					{#if thread.locked}
						<Icon icon="material-symbols:lock" />
					{/if}
					{#if typeof thread.solution === "number"}
						<Icon icon="material-symbols:check" />
					{/if}
				</span>
			{/if}
			{#if thread.pinned}
				<span class="thread-pinned"> pinned </span>
			{/if}
			{#if thread.locked}
				<span class="thread-locked"> locked </span>
			{/if}
			{#if typeof thread.solution === "number"}
				<span class="thread-pinned"> solved </span>
			{/if}
			<hr class="full-width-sep" />
			<span>
				{thread.postCount}
				<span class="unimportant"
					>post{thread.postCount === 1 ? "" : "s"}</span
				>
			</span>
			<span>
				<span class="unimportant hide-if-very-small">last post</span>
				<DateTime date={thread.lastPost} style="relative" />
			</span>
		</div>
		<a
			class="button thread-button"
			href="/forum/thread/{thread.id}"
			style="background: {background}"
			class:deleted={thread.deleted}
		>
			<h4 class="thread-title">{thread.name}</h4>
			<div class="thread-description">{thread.preview}</div>
		</a>
	</div>
</article>

<style>
	.thread {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}
	.thread a.button {
		margin: 0;
		border-radius: 5px;
	}

	.thread-icon {
		flex-shrink: 0;
		display: block;
		width: 64px;
		height: 64px;
		padding: 0;
	}

	.thread-info {
		flex-grow: 1;
		max-width: calc(100% - 69px);
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.thread-title,
	.thread-description {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
	}

	.thread-button {
		display: block;
		width: auto;
		height: auto;
		padding: 8px 12px;
		line-height: initial;
		background: var(--background-2);
	}
	:is(.thread-button, .thread-example-post):is(:hover, :focus-visible) {
		background: var(--background-active-3) !important;
		text-decoration: none !important;
	}

	.thread-icon img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}

	.thread-title {
		display: block;
		margin-block: 0;
	}
	.thread-description {
		font-size: small;
		opacity: 0.75;
		white-space: nowrap;
		margin: 0;
	}

	/* Svelte does some really fucked up shit with selector priority
	   When you use :global()
	   > Basically Svelte scopes styles to components by adding more classes to selectors
       > However, using `:global` _removes_ the extra class selectors, bumping down specificity, hence priority
       > So non-`:global` rules are applied before `:global` ones, even when it should be the other way around 
	   - Yhvr, #galaxy-dev

	   So easiest solution is to just use !important lmao
	   */
	.thread-info :global(.user-chip) {
		margin: 0;
		vertical-align: initial !important;
	}

	.thread-info :global(.user-chip .profile-pic) {
		display: none;
	}
	.thread-info :global(.user-chip::before) {
		content: "created by\00a0";
		opacity: 0.5;
	}

	.thread-meta {
		display: flex;
	}

	.thread-meta > span {
		font-size: 12px;
		line-height: 20px;
		height: 20px;
		padding: 0 8px;
		border-radius: 3px;
		margin-left: 4px;
		background: var(--background-2);
		box-shadow: 2px 0 10px #0007;
	}

	.thread-pinned {
		background: var(--background-green-1);
		color: var(--color-green-1);
	}

	.thread-locked {
		background: var(--background-red-1);
		color: var(--color-red-1);
	}

	.deleted {
		background: var(--background-red-1);
	}

	@media screen and (max-width: 720px) {
		.thread-icon {
			display: none;
		}
		.thread-info {
			max-width: calc(100%);
		}

		.thread-info :global(.user-chip .profile-pic) {
			display: inline;
		}
		.thread-info :global(.user-chip::before) {
			content: "";
		}
	}

	.small-thread-info {
		display: none;
	}

	@media screen and (max-width: 800px) {
		.small-thread-info {
			display: inline;
		}

		.thread-locked,
		.thread-pinned {
			display: none;
		}
	}

	.userchip-show-if-small {
		display: none;
		margin-left: 4px;
	}
	@media screen and (max-width: 575px) {
		.userchip-hide-if-small {
			display: none;
		}

		.userchip-show-if-small {
			display: block;
		}
	}

	@media screen and (max-width: 400px) {
		.hide-if-very-small {
			display: none;
		}
	}
</style>
