<script lang="ts">
	import {
		VisArea,
		VisAxis,
		VisCrosshair,
		VisLine,
		VisScatter,
		VisTooltip,
		VisXYContainer,
	} from "@unovis/svelte";
	import { Position } from "@unovis/ts";
	import { formatDaynum } from "~/helper/daynums";
	import { formatPlaytime } from "~/helper/format";
	import { json } from "~/libgalaxy";
	import { onMount } from "svelte";

	export let game: number;

	type DataRecord = { day: number; minutes: number; plays: number };

	const timeframes: [number, string][] = [
		[-1, "all data"],
		[90, "3 months"],
		[30, "1 month"],
		[14, "2 weeks"],
		[7, "1 week"],
	];
	let timeframe = 30;

	async function updateTimeframe() {
		loaded = false;
		const { ds } = await json(
			`/api/games/analytics?id=${game}&tf=${timeframe}`
		);
		data = [];
		ds.forEach(({ day, minutes, plays }) => {
			data.push({ day, minutes, plays });
		});
		data = data.reverse();
		loaded = true;
	}

	let loaded = false;
	let container;
	let data: DataRecord[] = [];
	onMount(updateTimeframe);

	const x = (d: DataRecord) => d.day;
	const y1 = (d: DataRecord) => d.minutes;
	const y2 = (d: DataRecord) => d.plays;
	// const y = [(d: DataRecord) => d.minutes, (d: DataRecord) => d.plays];
	const color = "var(--color-active-1)";
	const areaColor = "hsla(var(--accent-hue), 40%, 60%, 30%)";

	function playtimeTooltip(d: DataRecord): string {
		return `<div>${formatDaynum(d.day)}: ${formatPlaytime(d.minutes)}</div>`;
	}

	function playsTooltip(d: DataRecord): string {
		return `<div>${formatDaynum(d.day)}: ${d.plays.toLocaleString()} plays</div>`;
	}
</script>

<h1>graphs</h1>
<p>
	...are still a work in progress. if there's any statistics you'd like to see
	or any bugs you find, let us know!
</p>
<select bind:value={timeframe} on:change={updateTimeframe} class="button">
	{#each timeframes as [num, name]}
		<option value={num}>{name}</option>
	{/each}
</select>
{#if !loaded}
	<p>loading...</p>
{/if}
<h2>play-hours</h2>
<div bind:this={container}>
	{#if loaded}
		<VisXYContainer {data}>
			<VisLine {x} y={y1} {color} />
			<VisArea {x} y={y1} color={areaColor} />
			<VisScatter {x} y={y1} {color} />
			<VisAxis
				type="x"
				numTicks={Math.floor(container.clientWidth / 100)}
				tickFormat={x => formatDaynum(x)}
			/>
			<VisAxis type="y" tickFormat={y => formatPlaytime(y)} />
			<VisCrosshair {color} template={playtimeTooltip} />
			<VisTooltip
				verticalPlacement={Position.Top}
				horizontalPlacement={Position.Center}
			/>
		</VisXYContainer>
	{/if}
</div>
<h2>plays</h2>
<div>
	{#if loaded}
		<VisXYContainer {data}>
			<VisLine {x} y={y2} {color} />
			<VisArea {x} y={y2} color={areaColor} />
			<VisScatter {x} y={y2} {color} />
			<VisAxis
				type="x"
				numTicks={Math.floor(container.clientWidth / 100)}
				tickFormat={x => formatDaynum(x)}
			/>
			<VisAxis type="y" tickFormat={y => y.toLocaleString() + " plays"} />
			<VisCrosshair {color} template={playsTooltip} />
			<VisTooltip
				verticalPlacement={Position.Top}
				horizontalPlacement={Position.Center}
			/>
		</VisXYContainer>
	{/if}
</div>

<style>
	:root {
		--vis-tooltip-background-color: var(--background-4);
		--vis-tooltip-text-color: var(--color-1);
		--vis-tooltip-border-color: transparent;
	}
</style>
