<script lang="ts">
	import { alert, convertFormat, formSvelte, post } from "~/libgalaxy";
	import MarkdownEditor from "../MarkdownEditor.svelte";
	import { gameDescription } from "~/helper/markdown";

	export let id: number;
	export let name: string;
	export let description: string;
	export let link: string;
	export let verified: boolean;
	export let thumbTimestamp: number | undefined;

	const lastName = name;
	const lastLink = link;

	let imageFormButton: HTMLInputElement;

	const thumbClick = formSvelte(
		"thumbForm",
		["image", "id"],
		res => {
			if (res._resCode === 200) {
				alert.success("Game thumbnail changed!");
				thumbTimestamp = res.time;
			}
		},
		true
	);

	async function updateMain() {
		const out = await post("/api/games/edit", {
			id: id,
			new: {
				name,
				description,
				link,
			},
		});

		if (out._resCode === 201) {
			alert.success(out.message);
		}

		if (name == "" && link == "") {
			window.location.href = "/manage";
		} else if (link != lastLink) {
			window.location.reload();
		}
	}
</script>

{#if verified !== true}
	<p id="unverified">
		<b>
			This game is unverified and will not be playable by anyone else.
		</b>
		Please wait patiently for our staff to verify that you made this game. In
		the meantime, you can add more detail to your game below.
	</p>
{/if}
<h2>game info</h2>
<div data-label="thumbnail">
	<div>
		<button id="thumbnail-changer" on:click={() => imageFormButton.click()}>
			<img
				src={convertFormat("/thumb/small/", id, thumbTimestamp)}
				alt="Game thumbnail"
			/>
			<p>Change thumbnail</p>
		</button>
	</div>
</div>
<div data-label="name">
	<input type="text" id="game-name" bind:value={name} />
</div>
<div data-label="game link">
	<input type="url" id="game-link" bind:value={link} />
</div>
<div data-label="description">
	<MarkdownEditor
		bind:value={description}
		options={gameDescription}
		maxlength={8192}
	/>
</div>

<hr />
{#if name == "" && link == ""}
	<div>
		<div>
			<b class="danger">Warning: You're about to delete your game.</b>
			<br />
			This is not a reversible action&mdash;once you delete the game, it's
			gone forever!
		</div>
	</div>
	<div>
		<button on:click={() => ((name = lastName), (link = lastLink))}
			>revert change</button
		>
	</div>
	<div>
		<button class="danger" on:click={updateMain}>delete game</button>
	</div>
{:else}
	{#if link != lastLink}
		<div>
			<div>
				<b>Warning: You're about to modify your game's link.</b>
				<br />
				If you continue, your game will be delisted and the new link will
				need to be verified by our staff in order for the game to become
				visible again. Please only do so if your game is about to move to
				a new location.
			</div>
		</div>
		<div>
			<button on:click={() => (link = lastLink)}>revert change</button>
		</div>
	{/if}
	<div>
		<button on:click={updateMain}>save</button>
	</div>
{/if}

<!-- Hidden stuffs -->
<div id="thumbForm" data-action="/api/games/thumb">
	<input
		type="file"
		name="image"
		accept="image/*"
		style="display: none"
		bind:this={imageFormButton}
		on:change={thumbClick}
	/>
	<!-- So I can insert the game ID into the multipart form LOL -->
	<input type="hidden" name="id" bind:value={id} />
</div>

<style>
	.danger {
		color: var(--color-red-1);
	}

	#thumbnail-changer {
		grid-row: 1 / span 2;
		transition: filter 0.3s;
		position: relative;
		height: 150px;
		padding: 0;
		margin: 0;
	}

	#thumbnail-changer img {
		border-radius: 5px;
		transition: filter 0.3s;
	}

	#thumbnail-changer:hover img {
		filter: brightness(50%);
	}

	#thumbnail-changer p {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		margin: 0;
		opacity: 0;
		transition: opacity 0.3s;
		color: white;
	}

	#thumbnail-changer:hover p {
		opacity: 1;
	}

	#game-name {
		font-size: 2em;
		font-family: var(--header-font);
		font-weight: 700;
		height: 42px;
		line-height: 42px;
	}

	@media screen and (max-width: 600px) {
		#thumbnail-changer {
			grid-row: 1;
			width: 250px;
			margin: auto;
		}
	}

	/* #two-inputs input {
		width: calc(100% - 24px);
	} */
</style>
