:root {
	--background-0: hsl(var(--accent-hue), 40%, 4%);
	--background-1: hsl(var(--accent-hue), 36%, 8%);
	--background-2: hsl(var(--accent-hue), 32%, 12%);
	--background-3: hsl(var(--accent-hue), 28%, 16%);
	--background-4: hsl(var(--accent-hue), 24%, 20%);
	--background-5: hsl(var(--accent-hue), 20%, 24%);
	--background-6: hsl(var(--accent-hue), 16%, 28%);

	--background-active-0: hsl(var(--accent-hue), 40%, 6%);
	--background-active-1: hsl(var(--accent-hue), 36%, 12%);
	--background-active-2: hsl(var(--accent-hue), 32%, 18%);
	--background-active-3: hsl(var(--accent-hue), 28%, 24%);
	--background-active-4: hsl(var(--accent-hue), 24%, 30%);
	--background-active-5: hsl(var(--accent-hue), 20%, 36%);
	--background-active-6: hsl(var(--accent-hue), 16%, 42%);

	--color-0: hsl(var(--accent-hue), 100%, 96%);
	--color-1: hsl(var(--accent-hue), 100%, 92%);
	--color-2: hsl(var(--accent-hue), 100%, 88%);
	--color-3: hsl(var(--accent-hue), 100%, 84%);
	--color-4: hsl(var(--accent-hue), 100%, 80%);

	--color-active-0: hsl(var(--accent-hue), 100%, 90%);
	--color-active-1: hsl(var(--accent-hue), 85%, 80%);
	--color-active-2: hsl(var(--accent-hue), 70%, 70%);
	--color-active-3: hsl(var(--accent-hue), 55%, 60%);
	--color-active-4: hsl(var(--accent-hue), 40%, 50%);

	--background-red-0: #211;
	--background-red-1: #611;

	--background-blue-0: #112;
	--background-blue-1: #114;

	--background-green-0: #121;
	--background-green-1: #161;

	--color-red-1: #faa;
	--color-orange-1: #fda;
	--color-yellow-1: #eea;
	--color-green-1: #afa;
	--color-teal-1: #aee;
	--color-blue-1: #aaf;
	--color-purple-1: #eae;

	--flair-tester-bg: #112a;
	--flair-tester-fg: #ccf;

	--flair-gamedev-bg: #221811aa;
	--flair-gamedev-fg: #fdc;

	--flair-vip-bg: #221a;
	--flair-vip-fg: #ffc;

	--flair-contributor-bg: #121a;
	--flair-contributor-fg: #cfc;

	--flair-donator-bg: #551a;
	--flair-donator-fg: #ffa;

	--flair-mod-bg: #151a;
	--flair-mod-fg: #afa;

	--flair-admin-bg: #115a;
	--flair-admin-fg: #aaf;

	--flair-owner-bg: #511a;
	--flair-owner-fg: #faa;

	--flair-suggester-bg: #aafc;
	--flair-suggester-fg: #115;

	--flair-counter-bg: #515a;
	--flair-counter-fg: #faf;

	--flair-countest-bg: #535a;
	--flair-countest-fg: #fcf;

	--flair-verifier-bg: #115a;
	--flair-verifier-fg: #73f;

	--slider-thumb-color: var(--color-0);

	/* Unovis */
	--vis-axis-grid-color: var(--color-4) !important;
}
