<script lang="ts">
	import Icon from "@iconify/svelte";
	import Signature from "./Signature.svelte";

	let isOpened = false;
	let greedCounter = 0;
	function load() {
		greedCounter = +(window.localStorage.getItem("greed") ?? greedCounter);
		window.localStorage.setItem("greed", (greedCounter + 1).toString());
		isOpened = true;
	}
</script>

<svelte:window on:load={load} />
{#if isOpened}
	<div class="funny-container">
		<div class="container">
			<div class="header">
				<Signature />
				<button
					class="dismiss-button"
					on:click={() => (isOpened = false)}
				>
					<Icon
						icon="ic:baseline-close"
						width={24}
						style="vertical-align: -5px"
					/>
				</button>
			</div>
			{#if greedCounter >= 5}
				<div class="the-countdown">
					{#each Array(Math.max(Math.min(greedCounter - 5, 10), 3)) as _, index (index)}
						<div class:dead={greedCounter - 5 > index}></div>
					{/each}
				</div>

				<h1 class="title">
					Game window will not be blocked after {8 - greedCounter} games
				</h1>
			{:else}
				<h1 class="title">
					{Math.random() > 0.5
						? "Ad blockers are allowed on galaxy"
						: "Ad blockers do not violate galaxy's Terms of Service"}
				</h1>
			{/if}

			<ul class="body">
				<li>
					It seems like you may (or may not) be using an ad blocker.
					{#if greedCounter >= 5}The game window will not be blocked
						even if galaxy is allowlisted or the ad blocker is
						disabled.{/if}
				</li>
				<li>
					{greedCounter >= 5 ? "Instead, w" : "W"}e want to help you
					keep your ad blocker on (unlike a certain
					<span style="text-decoration: line-through">ad</span> video hosting
					company)
				</li>
				<li>
					We do not force you to watch ads, because we don't want you
					to deal with distracting, inappropriate, harmful, and
					privacy-invasive advertising.
				</li>
				<li>
					If you want to keep galaxy running, consider donating on
					Patreon.
				</li>
			</ul>

			<div class="buttons">
				<button on:click={() => (isOpened = false)}>
					Have a nice day
				</button>
				<a
					class="button"
					href="https://patreon.com/yhvr"
					target="_blank"
				>
					Donate on Patreon
				</a>
			</div>

			<div class="divider"></div>

			<div class="feedback">
				Not using an ad blocker?
				<a
					href="https://www.ic3.gov/Media/Y2022/PSA221221"
					target="_blank"
				>
					Seriously, get one, the FBI recommends it
				</a>
			</div>
		</div>
	</div>
{/if}

<style>
	.funny-container,
	.funny-container :is(button, a.button, h1) {
		font-family: "Roboto", "Inter", sans-serif;
	}
	.funny-container {
		position: fixed;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #0003;
		z-index: 1002;
	}
	.funny-container :global(.galaxy-signature) {
		font-size: 18px;
	}
	.funny-container :global(.galaxy-signature .beta-tag) {
		height: 18px;
		line-height: 18px;
		font-size: 14px;
	}
	.header {
		margin-bottom: 40px;
	}
	.container {
		width: min(720px, calc(100% - 50px));
		text-align: left;
		border-radius: 12px;
		overflow: hidden;
		background-color: var(--background-3);
		box-shadow: 0 0 24px 12px #0007;
		padding: 20px;
	}
	.the-countdown {
		white-space: nowrap;
		counter-reset: the-countdown;
	}
	.the-countdown div {
		width: 120px;
		flex-basis: 120px;
		height: 72px;
		margin-right: 10px;
		border-radius: 10px;
		background: var(--color-0);
		counter-increment: the-countdown;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	.the-countdown div::before {
		width: 32px;
		height: 32px;
		background: var(--background-0);
		content: "";
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		text-align: center;
		font-weight: bold;
	}
	.the-countdown div::after {
		position: absolute;
		content: counter(the-countdown);
	}
	.the-countdown div.dead {
		background: var(--background-5);
	}
	.the-countdown div.dead::before {
		background: var(--color-4);
		opacity: 0.5;
	}
	.body {
		padding-left: 1.5rem;
	}
	.body li {
		padding-left: 0.5rem;
	}
	.title {
		margin: 20px 0 10px 0;
	}
	.buttons {
		margin-top: 40px;
	}
	:is(button, a.button):not(.dismiss-button, :hover, :active) {
		background: var(--background-5);
	}
	.dismiss-button {
		float: right;
		box-shadow: none;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		margin: -8px -8px 0 0;
		padding: 0;
	}
	.dismiss-button:not(:hover, :active) {
		background: transparent;
	}
	.divider {
		margin: 20px 0;
		height: 1px;
		background: var(--color-3);
	}
	.feedback {
		font-size: 12px;
	}
</style>
