<script lang="ts">
	import type { IGame, IPlaytime, IUserCompletedGame } from "~/types";
	import {
		type UserCompletedGameMap,
		getCompletionIcon,
	} from "~/helper/completed";
	import DateTime from "./DateTime.svelte";
	import GameCard from "./GameCard.svelte";
	import Icon from "@iconify/svelte";
	import { formatPlaytime } from "~/helper/format";
	import { post } from "~/libgalaxy";

	interface PopulatedGame extends IGame {
		favorited: boolean;
		playtime: IPlaytime | undefined;
		completed: IUserCompletedGame | undefined;
	}

	export let playtimes: IPlaytime[];
	export let favorites: number[];
	export let completedGames: UserCompletedGameMap = new Map();
	export let rawGames: IGame[];

	const games = rawGames.map((game: PopulatedGame) => {
		game.favorited = favorites.includes(game.id);
		game.playtime = playtimes.find(p => p.game === game.id);
		game.completed = completedGames.get(game.id);
		return game;
	});
	let shownGames = structuredClone(games);

	// Sorting
	const sort = {
		playtime: "minutes",
		favorites: location.search === "?favorited" ? "favorited" : "disabled",
		completion: "disabled",
	};
	let reversed = false;
	let showAll = false;

	function setSort(type: string, value: string) {
		return () => {
			sort[type] = value;
			updateShownGames();
		};
	}

	function reverse() {
		reversed = !reversed;
		updateShownGames();
	}

	function updateShownGames() {
		let base = structuredClone(games).filter(
			game => game.playtime !== undefined
		);
		base = reversed
			? base.sort(
					(a, b) =>
						a.playtime[sort.playtime] - b.playtime[sort.playtime]
				)
			: base.sort(
					(a, b) =>
						b.playtime[sort.playtime] - a.playtime[sort.playtime]
				);

		if (sort.favorites !== "disabled")
			base = base.filter(game =>
				sort.favorites === "favorited"
					? game.favorited
					: !game.favorited
			);

		if (sort.completion !== "disabled")
			base = base.filter(game => {
				if (sort.completion === "yes")
					return game.completed && !game.completed.isOutdated;
				if (sort.completion === "updates")
					return game.completed?.isOutdated;
				if (sort.completion === "no")
					return game.completed === undefined;
			});

		shownGames = base;
	}
	updateShownGames();

	// User interaction

	async function favorite(id: number) {
		const idx = games.findIndex(game => game.id === id);
		const previousState = games[idx].favorited;
		games[idx].favorited = !previousState;
		if (previousState === true) games[idx].favorites--;
		else games[idx].favorites++;

		const { faves, faved } = await post("/api/games/favorite", {
			game: id,
		});

		games[idx].favorites = faves;
		games[idx].favorited = faved;

		updateShownGames();
	}

	async function complete(id: number) {
		const idx = games.findIndex(game => game.id === id);
		const previousState = games[idx].completed;
		if (previousState === undefined)
			games[idx].completed = { isOutdated: false } as IUserCompletedGame;
		else if (previousState.isOutdated === true)
			games[idx].completed.isOutdated = false;
		else games[idx].completed = undefined;

		const { completed } = await post("/api/games/complete", {
			game: id,
		});

		if (completed)
			games[idx].completed = { isOutdated: false } as IUserCompletedGame;
		else games[idx].completed = undefined;

		updateShownGames();
	}
</script>

<div class="container" id="controls">
	<div>
		sort:
		<button
			class:active={sort.playtime === "minutes"}
			on:click={setSort("playtime", "minutes")}
		>
			<Icon icon="material-symbols:timer" /> playtime
		</button>
		<button
			class:active={sort.playtime === "updatedAt"}
			on:click={setSort("playtime", "updatedAt")}
		>
			<Icon icon="material-symbols:videogame-asset-outline-rounded" /> last
			played
		</button>
		<button
			class:active={sort.playtime === "createdAt"}
			on:click={setSort("playtime", "createdAt")}
		>
			<Icon icon="material-symbols:calendar-month" /> first played
		</button>
		<button class:active={reversed} on:click={reverse}>
			<Icon icon="material-symbols:sort-rounded" /> reverse order
		</button>
	</div>
	<div>
		favorited:
		<button
			class:active={sort.favorites === "disabled"}
			on:click={setSort("favorites", "disabled")}
		>
			<Icon icon="material-symbols:question-mark-rounded" /> either
		</button>
		<button
			class:active={sort.favorites === "favorited"}
			on:click={setSort("favorites", "favorited")}
		>
			<Icon icon="material-symbols:favorite" /> favorited
		</button>
		<button
			class:active={sort.favorites === "unfavorited"}
			on:click={setSort("favorites", "unfavorited")}
		>
			<Icon icon="material-symbols:favorite-outline" /> not favorited
		</button>
	</div>
	<div>
		completion:
		<button
			class:active={sort.completion === "disabled"}
			on:click={setSort("completion", "disabled")}
		>
			<Icon icon="material-symbols:question-mark-rounded" /> any
		</button>
		<button
			class:active={sort.completion === "yes"}
			on:click={setSort("completion", "yes")}
		>
			<Icon icon="material-symbols:check-box-outline-rounded" /> completed
		</button>
		<button
			class:active={sort.completion === "updates"}
			on:click={setSort("completion", "updates")}
		>
			<Icon icon="mdi:alert-decagram" /> new updates
		</button>
		<button
			class:active={sort.completion === "no"}
			on:click={setSort("completion", "no")}
		>
			<Icon icon="material-symbols:check-box-outline-blank" /> not completed
		</button>
	</div>
</div>
<br />
<div>
	{#each shownGames as game, i (game.id)}
		{#if i < 20 || showAll}
			<div class="playtime-entry">
				<!-- Don't show completion on GameCard because it's redundant to the checkbox -->
				<GameCard
					{game}
					completedGame={undefined}
					size={{ thumb: "medium" }}
				/>
				<div class="flex-centervert">
					<div class="playtime-stats">
						<div>
							<p class="playtime-hours">
								<Icon
									icon="material-symbols:timer"
									inline
								/>{formatPlaytime(game.playtime?.minutes ?? 0)}
							</p>
							{#if game.playtime !== undefined}
								<p class="time-stats bigscreen unimportant">
									last played <DateTime
										date={game.playtime.updatedAt}
										style="date"
									/>
									<br />
									first played <DateTime
										date={game.playtime.createdAt}
										style="date"
									/>
								</p>
								<p class="time-stats smallscreen unimportant">
									last played <DateTime
										date={game.playtime.updatedAt}
										style="date"
									/> &bull; first played <DateTime
										date={game.playtime.createdAt}
										style="date"
									/>
								</p>
							{/if}
						</div>
						<div class="big-buttons">
							<button on:click={() => favorite(game.id)}>
								<Icon
									icon={game.favorited
										? "material-symbols:favorite"
										: "material-symbols:favorite-outline"}
								/>
							</button>
							<button on:click={() => complete(game.id)}>
								<Icon
									icon={getCompletionIcon(
										game.completed !== undefined,
										game.completed?.isOutdated
									)}
								/>
							</button>
						</div>
					</div>
				</div>
			</div>
		{/if}
	{:else}
		<p class="unimportant center">...wow, it's quiet.</p>
	{/each}
	{#if shownGames.length > 0}
		<div class="center">
			<button on:click={() => (showAll = !showAll)}>
				{showAll ? "collapse" : "show all"}
			</button>
		</div>
	{/if}
</div>

<style>
	#controls > div:not(:first-child) {
		margin-top: 4px;
	}

	.playtime-entry {
		display: grid;
		grid-template-columns: 240px 1fr;
		margin-bottom: 10px;
		gap: 20px;
	}

	.playtime-stats {
		font-size: 20px;
		display: flex;
		flex-direction: column;
	}

	.playtime-hours {
		font-size: 32px;
	}

	.big-buttons button {
		margin-top: 10px;
		width: 60px;
		height: 40px;
		font-size: 20px;
	}

	p {
		margin: 0;
	}

	.active {
		color: var(--color-active-0);
		background: var(--background-active-5);
	}

	.center {
		text-align: center;
	}

	.smallscreen {
		display: none;
	}

	@media screen and (max-width: 500px) {
		.playtime-entry {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 80px;
			margin-bottom: 16px;
			gap: 7px;
		}

		.playtime-stats {
			font-size: 14px;
			flex-direction: column-reverse;
			width: 100%;
			gap: 4px;
		}

		.smallscreen {
			display: block;
		}

		.bigscreen {
			display: none;
		}

		.big-buttons {
			display: flex;
			width: 100%;
			gap: 2px;
		}

		.big-buttons button {
			height: 30px;
			flex: 1;
			margin: 0;
		}
	}
</style>
