<script lang="ts">
	import { alert, json, post } from "~/libgalaxy";
	import { monthUnder13, months } from "~/helper/coppa";
	import { onMount } from "svelte";

	export let initialBirthInfo: [number, number];
	export let turnstileSiteKey: string;

	const birthInfo = initialBirthInfo;
	const currentYear = new Date().getFullYear();

	// <3 https://github.com/ghostdevv/svelte-turnstile/blob/main/src/lib/Turnstile.svelte
	onMount(() => {
		const script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "https://challenges.cloudflare.com/turnstile/v0/api.js";
		script.async = true;
		document.head.appendChild(script);
	});

	let username = "";
	let lastCheckedUsername = "";
	let usernameAvailable: "yes" | "no" | "loading" | "" = "";
	async function checkUsernameAvailability() {
		if (username.length < 3) return (usernameAvailable = "");

		const checkingUsername = username;
		lastCheckedUsername = username;
		usernameAvailable = "loading";

		const res = await json(`/api/users/byName?name=${checkingUsername}`);

		if (checkingUsername !== lastCheckedUsername) return;

		if (res.message === "no") usernameAvailable = "yes";
		else usernameAvailable = "no";
	}

	let email = "";
	let password = "";
	let repeatPassword = "";
	let passwordsMatch: boolean | null = null;

	function checkPasswordsMatch() {
		if (repeatPassword === "") return (passwordsMatch = null);
		passwordsMatch = password === repeatPassword;
	}

	let legal = false;

	async function signup() {
		const res = await post("/api/users/signup", {
			name: username,
			email,
			password,
			year: birthInfo[0],
			month: birthInfo[1],
			// Why do I do this to myself
			// eslint-disable-next-line @typescript-eslint/ban-ts-comment
			// @ts-expect-error
			captcha: window.captcha,
		});

		console.log(res.name);

		if (res.name) {
			alert.success("Account created!");
			window.location.href = "/signedup";
		}
	}
</script>

<div class="container form">
	<div>
		<p>
			A Galaxy account lets you publish games, give feedback, chat with
			people, and more.
			<br />
			<b>Use a strong password. Consider using a password manager.</b>
		</p>
	</div>
	<div data-label="username">
		<input
			type="text"
			placeholder="(required)"
			maxlength="28"
			bind:value={username}
			on:input={checkUsernameAvailability}
		/>
		<span
			class="input-hint"
			class:username-loading={usernameAvailable === "loading"}
			class:username-available={usernameAvailable === "yes"}
			class:username-taken={usernameAvailable === "no"}
		></span>
	</div>
	<div data-label="email">
		<input
			accept=""
			type="email"
			placeholder="(required)"
			bind:value={email}
		/>
	</div>
	<div data-label="password">
		<input
			type="password"
			placeholder="(required)"
			id="password"
			bind:value={password}
		/>
		<span
			class="input-hint"
			class:too-short={password.length < 10 && password !== ""}
			class:nice-password={password.length < 48 && password.length >= 24}
			class:great-password={password.length < 64 && password.length >= 48}
			class:super-long={password.length <= 72 && password.length >= 64}
			class:too-long={password.length > 72}
		></span>
	</div>
	<div data-label="retype password">
		<input
			type="password"
			placeholder="(required)"
			id="retype-password"
			maxlength="72"
			bind:value={repeatPassword}
			on:change={checkPasswordsMatch}
		/>
		<span
			class="input-hint"
			class:pw-match={passwordsMatch === true}
			class:pw-doesnt-match={passwordsMatch === false}
		></span>
	</div>
	<div data-label="birth year">
		<select
			id="year-select"
			class="button"
			disabled={initialBirthInfo[0] !== -1}
			bind:value={birthInfo[0]}
		>
			{#each { length: 120 } as _, i}
				<option value={currentYear - i}>
					{currentYear - i}
				</option>
			{/each}
		</select>
	</div>
	<div
		id="month-select-wrapper"
		data-label="birth month"
		style={monthUnder13(...birthInfo) ? "" : "display: none"}
	>
		<select
			id="month-select"
			class="button"
			disabled={initialBirthInfo[1] !== -1}
			bind:value={birthInfo[1]}
		>
			{#each months as month, i}
				<option value={i} selected={initialBirthInfo[1] === i}>
					{month.toLowerCase()}
				</option>
			{/each}
			<!-- {
				months.map((month, i) => (
					<option value={i} selected={birthInfo[1] === i}>
						{month.toLocaleLowerCase()}
					</option>
				))
			} -->
		</select>
	</div>
	<hr />
	<div data-label="legal">
		<input type="checkbox" id="compliance" bind:checked={legal} />
		<label for="compliance">
			<span>
				<span id="whodunnit">
					{monthUnder13(...birthInfo)
						? "A parent or guardian of mine has"
						: "I have"}
				</span>
				read and agree to galaxy's
				<a href="/terms"> Terms of Service</a>,
				<a href="/privacy">Privacy Policy</a>, and
				<a href="/rules"> Acceptable Use Policy</a>
			</span>
		</label>
	</div>
	<hr />
	<div data-label="humanity check" id="captcha">
		<div
			class="cf-turnstile"
			data-sitekey={turnstileSiteKey}
			data-callback="captchaDone"
		></div>
		<input name="captcha" style="display: none" aria-hidden="true" />
	</div>
	<hr />
	<div data-label="let's go">
		<button
			id="enter-button"
			type="submit"
			disabled={birthInfo[0] === -1 ||
				!legal ||
				passwordsMatch !== true ||
				usernameAvailable === "no"}
			on:click={signup}
		>
			create account
		</button>
	</div>
</div>

<style>
	#captcha::before {
		margin: auto 0;
	}

	.input-hint {
		height: 20px;
	}

	.input-hint::after {
		display: block;
		/* position: absolute; */
		margin: 6px 0 0 6px;
		/* left: 6px;
		top: 6px; */
		width: 200px;
		/* text-align: right; */
		touch-action: none;
	}

	.username-loading::after {
		content: "checking...";
	}

	.username-available::after {
		content: "available!";
		color: var(--color-green-1);
	}

	.username-taken::after {
		content: "taken :(";
		color: var(--color-red-1);
	}

	.too-short::after {
		content: "minimum length: 10";
		color: var(--color-4);
	}

	.nice-password::after {
		content: "nice password!";
		color: var(--color-green-1);
	}

	.great-password::after {
		content: "great password!";
		color: var(--color-blue-1);
	}

	.super-long::after {
		content: "that's long!";
		color: var(--color-purple-1);
	}

	.too-long::after {
		content: "max length: 72";
		color: var(--color-red-1);
	}

	.pw-match::after {
		content: "matches!";
		color: var(--color-green-1);
	}

	.pw-doesnt-match::after {
		content: "doesn't match";
		color: var(--color-red-1);
	}
</style>
