<script lang="ts">
	import Icon from "@iconify/svelte";
	import { alert } from "~/libgalaxy";
	import { domToBlob } from "modern-screenshot";
	import { onMount } from "svelte";

	export let panels: number;
	export let currentPanel = 0;

	function setPanel(panel: number) {
		return () => (currentPanel = panel);
	}

	function advancePanel() {
		if (currentPanel < panels - 1) currentPanel++;
		else window.location.pathname = "/";
	}

	let theme = "dark";

	// I'm gonna be honest, this is jipitied, but I'd rather kill myself than figure out what I'm actually supposed to do
	async function share() {
		
		const blob = await domToBlob(document.getElementById("rw-panel-wrapper"), {
			backgroundColor: theme === "dark" ? "#111" : "#eee",
		});
		document.body.style.backgroundColor = "";
		console.log(theme);

		const file = new File([blob], `galaxy-rewind-${currentPanel}.png`, {
			type: "image/png",
		});

		if (navigator.share !== undefined) {
			try {
				await navigator.share({
					files: [file],
					title: "",
					text: "",
				});
				return;
			} catch (error) {}
		}

		if (window.ClipboardItem !== undefined) {
			const clipboardItem = new ClipboardItem({
				"image/png": blob,
			});
			await navigator.clipboard.write([clipboardItem]);
			alert.success("Copied image to clipboard!");
		} else {
			// FF didn't support this unflagged until June 2024. Omg fuck Firefox so much
			if (
				!confirm(
					"Your browser doesn't support copying images to clipboard. Would you like to download the image instead?"
				)
			)
				return;
			const url = URL.createObjectURL(blob);
			const link = document.createElement("a");
			link.href = url;
			link.download = `galaxy-rewind-${currentPanel}.png`;
			link.click();
			URL.revokeObjectURL(url);
		}
	}

	onMount(() => {
		// Taken from ../GameWindow.svelte
		// I'LL PARSE THE COOKIES MYSELF, DAMNIT!
		const themeCookie = document.cookie
			.split(";")
			.map(c => c.trim())
			.find(c => c.startsWith("theme="));
		if (themeCookie === "theme=light") theme = "light";
		else if (themeCookie === "theme=dark") theme = "dark";
	});
</script>

<div id="rw-progress-meter">
	{#each { length: panels } as _, i}
		<button
			class="rw-progress"
			class:rw-progress-filled={currentPanel >= i}
			on:click={setPanel(i)}
		></button>
	{/each}
</div>

<!-- svelte-ignore a11y-no-static-element-interactions -->
<!-- svelte-ignore a11y-click-events-have-key-events -->
<div id="rw-panel-wrapper" on:click={advancePanel}>
	<slot />
</div>

<button id="rw-share-button" on:click={share}>
	<Icon icon="material-symbols:share" />
	share
</button>

<style>
	#rw-panel-wrapper {
		cursor: pointer;
	}

	:global(#rw-panel-wrapper > div) {
		height: calc(100vh - 48px);
		width: 100%;
		user-select: none;
		pointer-events: none;
		overflow: hidden;
	}

	#rw-progress-meter {
		z-index: 3;
		position: absolute;
		left: 0;
		right: 0;
		top: 48px;
		padding: 8px;
		display: flex;
		gap: 3px;
	}

	.rw-progress {
		flex: 1;
		appearance: none;
		height: 5px;
		background: rgba(255, 255, 255, 0.3);
		border-radius: 4px;
		padding: 0;
		margin-right: 0;

		transition: background 0.3s;
	}

	.rw-progress-filled {
		background: rgba(255, 255, 255, 0.6);
		transition: background 0.3s;
	}

	.rw-progress:hover {
		background: rgba(255, 255, 255, 0.9);
		transition: background 0.3s;
	}

	#rw-share-button {
		position: fixed;
		bottom: 16px;
		right: 16px;
		width: 100px;
		height: 35px;
		border-radius: 20px;
		font-size: 16px;
	}
</style>
