<script lang="ts">
	import type { IGame } from "~/types";
	import Icon from "@iconify/svelte";
	import RewindCore from "./RewindCore.svelte";
	import { convertFormat } from "~/libgalaxy";
	import { formatPlaytime } from "~/helper/format";

	export let games: IGame[];
	export let gameMetrics: { _id: number; minutes: number; plays: number }[];
	export let playerCount: number;
	export let favorites: { _id: number; count: number }[];
	export let comments: { _id: number; count: number; dev: number }[];
	export let cloudSaves: { _id: number; count: number; length: number }[];
	export let longestSessions: { _id: number; max: number }[];

	const gameS = games.length === 1 ? "" : "s";

	const totalPlays = gameMetrics.reduce((a, b) => a + b.plays, 0);
	const totalMinutes = gameMetrics.reduce((a, b) => a + b.minutes, 0);
	const favoriteCount = favorites.reduce((a, b) => a + b.count, 0);
	const commentCount = comments.reduce((a, b) => a + b.count, 0);
	const replyCount = comments.reduce((a, b) => a + b.dev, 0);
	const replyPercentage = ((replyCount / commentCount) * 100).toFixed(1);
	const cloudSaveCount = cloudSaves.reduce((a, b) => a + b.count, 0);
	const cloudSaveLength = cloudSaves.reduce((a, b) => a + b.length, 0);

	let panel: number;
	$: game = games[panel - 4];
</script>

<RewindCore panels={5 + games.length} bind:currentPanel={panel}>
	{#if panel === 0}
		<div id="rw-intro">
			<h1>well...</h1>
			<p>it's the wrong time. but here's your stats on 2025 so far</p>
		</div>
	{:else if panel === 1}
		<div id="rw-playtime">
			<p class="unimportant">simply put,</p>
			<h1>
				<Icon icon="material-symbols:timer" />
				{formatPlaytime(totalMinutes)}
			</h1>
			<p>
				<span class="unimportant">across</span>
				{games.length} game{gameS}<span class="unimportant">,</span>
				{playerCount.toLocaleString()} players<span class="unimportant"
					>, and</span
				>
				{totalPlays.toLocaleString()}
				plays
			</p>
		</div>
	{:else if panel === 2}
		<div id="rw-faves-comments">
			<div>
				<p class="unimportant">this year, your game{gameS} got</p>
				<h1>
					<Icon icon="material-symbols:favorite" />
					{favoriteCount.toLocaleString()}
				</h1>
				<p>
					<span class="unimportant">and</span>
					{commentCount.toLocaleString()} comment{commentCount === 1
						? ""
						: "s"}<span class="unimportant"
						>, {replyPercentage}% of which you replied to</span
					>
				</p>
			</div>
		</div>
	{:else if panel === 3}
		<div id="rw-saves">
			<div>
				<p class="unimportant">
					while playing your game{gameS}, people made
				</p>
				<h1>
					<Icon icon="material-symbols:smb-share-outline" />
					{cloudSaveCount.toLocaleString()}
				</h1>
				<p>
					<span class="unimportant">totalling</span>
					{cloudSaveLength.toLocaleString()}
					<span class="unimportant">characters</span>
				</p>
			</div>
		</div>
	{:else if game !== undefined}
		<div id="rw-game" class="game-{(panel - 4) % 7}">
			<img
				src={convertFormat(
					"/thumb/large/",
					game.id,
					game.thumbTimestamp
				)}
				alt=""
			/>
			<div id="rw-game-cover">
				<div
					id="rw-game-cover-bg"
					style="background-image: url('{convertFormat(
						'/thumb/large/',
						game.id,
						game.thumbTimestamp
					)}')"
				/>
				<h2 style="font-size: {game.name.length > 20 ? 30 : 50}px">
					{game.name}
				</h2>
				<div class="game-cover-stats">
					<p>
						<Icon icon="material-symbols:favorite" />
						{(
							favorites.find(f => f._id === game.id)?.count ?? 0
						).toLocaleString()}
					</p>
					<p>
						<Icon icon="material-symbols:timer" />
						{formatPlaytime(
							gameMetrics.find(m => m._id === game.id)?.minutes ??
								0
						)}
					</p>
				</div>
				<div class="game-cover-stats">
					<p>
						<Icon icon="material-symbols:smb-share-outline" />
						{(
							cloudSaves.find(m => m._id === game.id)?.count ?? 0
						).toLocaleString()}
					</p>
					<p>
						<Icon icon="material-symbols:smb-share-outline" />
						<Icon icon="material-symbols:text-select-end-rounded" />
						{(
							cloudSaves.find(m => m._id === game.id)?.length ?? 0
						).toLocaleString()}
					</p>
					<p>
						<Icon icon="material-symbols:videogame-asset" />
						{(
							gameMetrics.find(m => m._id === game.id)?.plays ?? 0
						).toLocaleString()} plays
					</p>
				</div>
				<div class="game-cover-stats">
					<p>
						<Icon icon="material-symbols:chat-bubble-rounded" />
						{(
							comments.find(m => m._id === game.id)?.count ?? 0
						).toLocaleString()}
					</p>
					<p>
						<Icon icon="mdi:conversation" />
						{(
							comments.find(m => m._id === game.id)?.dev ?? 0
						).toLocaleString()}
					</p>
				</div>
				<div class="game-cover-stats">
					<p>
						<Icon icon="material-symbols:local-fire-department" />
						{(
							Math.floor(
								(longestSessions.find(m => m._id === game.id)
									?.max ?? 0) / 6
							) / 10
						).toLocaleString()}h longest consecutive play session
					</p>
				</div>
			</div>
		</div>
	{:else}
		<div id="rw-thanks">
			<Icon icon="material-symbols:favorite" width="200" />
			<h1>thank you</h1>
			<p style="text-align: center">
				galaxy wouldn't be possible without your continued support.
				<br />
				thank you for trusting us with your games.
			</p>
			<p class="unimportant">click anywhere to return to the homepage</p>
		</div>
	{/if}
</RewindCore>

<style>
	h1,
	h2 {
		margin: 0;
	}

	p {
		font-size: 30px;
		margin: 8px;
	}

	#rw-intro {
		background: linear-gradient(
			180deg,
			hsla(280, 50%, 50%, 0.5),
			hsla(315, 50%, 50%, 0.5)
		);

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
		flex-direction: column;
		text-align: center;
	}

	#rw-playtime {
		background: linear-gradient(
			180deg,
			hsla(120, 50%, 50%, 0.5),
			hsla(165, 50%, 50%, 0.5)
		);

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
		flex-direction: column;
		text-align: center;
	}

	#rw-playtime h1,
	#rw-faves-comments h1,
	#rw-saves h1 {
		display: flex;
		align-items: center;
		gap: 24px;
	}

	#rw-faves-comments {
		background: linear-gradient(
			180deg,
			hsla(340, 50%, 50%, 0.5),
			hsla(5, 50%, 50%, 0.5)
		);

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
		flex-direction: column;
	}

	#rw-saves {
		background: linear-gradient(
			180deg,
			hsla(180, 50%, 50%, 0.5),
			hsla(205, 50%, 50%, 0.5)
		);

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
		flex-direction: column;
		text-align: right;
	}

	#rw-saves div {
		display: flex;
		flex-direction: column;
		align-items: end;
	}

	#rw-game {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
		flex-direction: column;
	}

	#rw-game img {
		position: absolute;
		z-index: 0;
		border-radius: 5px;
		filter: drop-shadow(0 4px 3px #0007);
		transform: rotate(-5deg);
		top: calc(50% - 250px);
	}

	#rw-game-cover {
		z-index: 2;
		position: relative;
		overflow: hidden;
		margin-top: 250px;
		padding: 30px 40px;
		border-radius: 10px;
		/* filter: drop-shadow(0 4px 3px #0007); */
		box-shadow: 0 2px 5px 0 #0007;
		min-width: 700px;
		max-width: 90vw;
		color: #eee;
	}

	#rw-game-cover h2 {
		max-width: 800px;
	}

	#rw-game-cover-bg {
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		filter: blur(20px) brightness(30%);
		background: black;
		background-size: cover;
		background-position: center;
	}

	.game-cover-stats {
		display: flex;
	}

	.game-cover-stats > * {
		flex: 1;
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.game-0 {
		background: linear-gradient(
			180deg,
			hsla(20, 50%, 50%, 0.5),
			hsla(30, 50%, 50%, 0.5)
		);
	}

	.game-1 {
		background: linear-gradient(
			180deg,
			hsla(320, 50%, 50%, 0.5),
			hsla(330, 50%, 50%, 0.5)
		);
	}

	.game-2 {
		background: linear-gradient(
			180deg,
			hsla(240, 50%, 50%, 0.5),
			hsla(250, 50%, 50%, 0.5)
		);
	}

	.game-3 {
		background: linear-gradient(
			180deg,
			hsla(110, 50%, 50%, 0.5),
			hsla(140, 50%, 50%, 0.5)
		);
	}

	.game-4 {
		background: linear-gradient(
			180deg,
			hsla(75, 50%, 50%, 0.5),
			hsla(95, 50%, 50%, 0.5)
		);
	}

	.game-5 {
		background: linear-gradient(
			180deg,
			hsla(180, 50%, 50%, 0.5),
			hsla(200, 50%, 50%, 0.5)
		);
	}

	.game-6 {
		background: linear-gradient(
			180deg,
			hsla(350, 50%, 50%, 0.5),
			hsla(10, 50%, 50%, 0.5)
		);
	}

	#rw-thanks {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
		font-size: 40px;
		background: linear-gradient(
			180deg,
			hsla(340, 50%, 50%, 0.5),
			hsla(5, 50%, 50%, 0.5)
		);
		text-align: center;
	}

	@media screen and (max-width: 900px) {
		h1 {
			font-size: 40px;
		}

		#rw-game-cover {
			min-width: unset;
			max-width: unset;
			width: 95vw;
			box-sizing: border-box;
			margin-top: 0;
		}

		#rw-game img {
			display: none;
		}

		.game-cover-stats {
			flex-direction: column;
		}

		.game-cover-stats > * {
			padding: 0 6px;
		}	

		.game-cover-stats :global(svg) {
			min-width: 30px;
		}

		/* p,
		.rw-games h2,
		#rw-percentile-desc,
		#rw-feedback > div {
			font-size: 25px;
		} */

		.rw-games > div {
			height: 125px;
		}

		.rw-games img {
			max-height: 125px !important;
		}
	}
</style>
