<script lang="ts">
	//////////////////////////////////
	//  WARNING! WARNING! WARNING!  //
	// THIS FILE IS A COGNITOHAZARD //
	//   PROCEED AT YOUR OWN RISK   //
	//////////////////////////////////

	import type { IAF2024Participant, IGame, IUser } from "~/types";
	import Icon from "@iconify/svelte";
	import RewindCore from "./RewindCore.svelte";
	import { convertFormat } from "~/libgalaxy";
	import { formatPlaytime } from "~/helper/format";

	interface TopSession {
		_id: number;
		minutes: number;
		count: number;
	}

	interface FrontendSession extends TopSession {
		game: IGame;
	}

	export let games: IGame[];
	export let topTimeSessions: TopSession[];
	export let topPlayedSessions: TopSession[];
	// eslint-disable-next-line @typescript-eslint/no-explicit-any
	export let cloudSaves: any;
	export let topGameRanking: [number, number, number];
	export let topGameAuthor: IUser;
	export let counter: IAF2024Participant | null;
	export let commentInfo: {
		count: number;
		ups: number;
		downs: number;
	};
	export let ratings: [number, number, number, number, number];
	export let favorites: number;
	export let totalTime: number;

	const topTime: FrontendSession[] = topTimeSessions.map(sesh => ({
		...sesh,
		game: games.find(game => game.id === sesh._id),
	}));
	const topPlayed: FrontendSession[] = topPlayedSessions.map(sesh => ({
		...sesh,
		game: games.find(game => game.id === sesh._id),
	}));

	const topGame = games.find(game => game.id === topGameRanking[2]);

	if (cloudSaves === undefined) cloudSaves = { count: 0 };
	if (commentInfo === undefined) commentInfo = { count: 0, ups: 0, downs: 0 };

	// Slides past a certain point have to be offset by one if the user participated
	// in the April Fools event
	const af = +(counter !== null);

	// There is probably a better way to do this
	const totalStars =
		ratings[0] +
		ratings[1] * 2 +
		ratings[2] * 3 +
		ratings[3] * 4 +
		ratings[4] * 5;
	const totalRatings = ratings.reduce((a, b) => a + b);
	const avgRating =
		totalRatings === 0 ? "-.--" : (totalStars / totalRatings).toFixed(2);

	function choose(choices: [string, number][], value: number) {
		return choices.find(choice => choice[1] <= value)[0];
	}

	const gameMessage = choose(
		[
			["completionist?", 200],
			["that's a large amount!", 150],
			["quite the collection!", 100],
			["that's a lot!", 50],
			["not bad!", 25],
			["not a whole lot!", 10],
			["a small collection!", 0],
		],
		games.length
	);

	let panel: number;
</script>

<RewindCore panels={11 + af} bind:currentPanel={panel}>
	{#if panel === 0}
		<div id="rw-intro">
			<h1>well...</h1>
			<p>it's the wrong time. but here's your stats on 2025 so far</p>
		</div>
	{:else if panel === 1}
		<div id="rw-games-overview">
			<div id="rw-games-background">
				{#each games as game}
					<img
						src={convertFormat(
							"/thumb/small/",
							game.id,
							game.thumbTimestamp
						)}
						alt="thumbnail for {game.name}"
					/>
				{/each}
			</div>
			<div id="rw-games-background-tint"></div>
			<div style="z-index: 2">
				<h1>
					{games.length} game{games.length === 1 ? "" : "s"} played
				</h1>
				<p>{gameMessage}</p>
			</div>
		</div>
	{:else if panel === 2}
		<div class="rw-games" id="rw-games-time">
			<p>you couldn't get enough of these games</p>
			{#each topTime as sesh, i}
				<div
					class={["gamebg-left", "gamebg-center", "gamebg-right"][i]}
				>
					<img
						src={convertFormat(
							"/thumb/medium/",
							sesh._id,
							sesh.game.thumbTimestamp
						)}
						alt=""
					/>
					<h2>{sesh.game.name}</h2>
					<div>
						<Icon icon="material-symbols:timer" />
						{formatPlaytime(sesh.minutes)}
					</div>
				</div>
			{/each}
		</div>
	{:else if panel === 3}
		<div class="rw-games" id="rw-games-plays">
			<p>you kept coming back to these games</p>
			{#each topPlayed as sesh, i}
				<div
					class={["gamebg-right", "gamebg-left", "gamebg-center"][i]}
				>
					<img
						src={convertFormat(
							"/thumb/medium/",
							sesh._id,
							sesh.game.thumbTimestamp
						)}
						alt=""
					/>
					<h2>{sesh.game.name}</h2>
					<div>{sesh.count.toLocaleString()} plays</div>
				</div>
			{/each}
		</div>
	{:else if panel === 4}
		<div id="rw-saves">
			<p id="rw-saves-pushdown">you made</p>
			<h1>
				{cloudSaves.count} cloud save{cloudSaves.count === 1 ? "" : "s"}
			</h1>
			{#if cloudSaves.count <= 0}
				<p class="unimportant" id="rw-saves-pushup">
					&hellip;did you know you could make those? it's pretty neat!
				</p>
			{:else}
				<p id="rw-saves-pushup">
					totalling {cloudSaves.length.toLocaleString()} characters
				</p>
			{/if}
		</div>
	{:else if panel === 5}
		<div id="rw-percentile">
			<img
				src={convertFormat(
					"/thumb/large/",
					topGame.id,
					topGame.thumbTimestamp
				)}
				alt=""
			/>
			<h1>
				top {((topGameRanking[0] / topGameRanking[1]) * 100).toFixed(
					1
				)}%
			</h1>
			<p id="rw-percentile-desc" class="bold-em">
				out of <b>{topGameRanking[1].toLocaleString()}</b> people who
				played <b>{topGame.name}</b> this year, you ranked
				<b>{topGameRanking[0].toLocaleString()}</b> in terms of
				playtime.
				{#if topGameRanking[0] / topGameRanking[1] < 0.1}
					<br />
					<br />
					<span
						><b>{topGameAuthor.name}</b> must be pretty proud of you!</span
					>
				{/if}
			</p>
		</div>
	{:else if panel === 6 && af}
		<div id="rw-af">
			<h1>
				{Math.floor(counter.clicks).toLocaleString()} click{counter.clicks ===
				1
					? ""
					: "s"}
			</h1>
			<p>
				during a certain unspecified, unserious event
				<br />
				<span class="unimportant"
					>&hellip;can you believe it's been 8 months?</span
				>
			</p>
		</div>
	{:else if panel === 6 + af}
		<div id="rw-comments">
			<h1>
				{commentInfo.count} comment{commentInfo.count === 1 ? "" : "s"}
			</h1>
			<p class="bold-em">
				netting you <b>{commentInfo.ups}</b> upvotes and
				<b>{commentInfo.downs}</b> downvotes
				{#if commentInfo.count === 0}
					<br />consider leaving some next year!
				{:else if commentInfo.downs >= commentInfo.ups}
					<br />how controversial!
				{:else if commentInfo.ups >= 50}
					<br />that's a lot of upvotes!
				{:else if commentInfo.ups >= 25}
					<br />that's quite a few upvotes!
				{:else if commentInfo.downs === 0}
					<br />you must be very agreeable!
				{/if}
			</p>
		</div>
	{:else if panel === 7 + af}
		<div id="rw-feedback">
			<h1>
				{totalRatings + favorites} review item{totalRatings +
					favorites ===
				1
					? ""
					: "s"}
			</h1>
			<div>
				<Icon icon="material-symbols:favorite" />
				{favorites} favorite{favorites === 1 ? "" : "s"}
			</div>
			<div>
				<Icon icon="material-symbols:star" />
				{totalRatings} rating{totalRatings === 1 ? "" : "s"}
			</div>
			<span class="unimportant">
				avg rating: {avgRating}
			</span>
		</div>
	{:else if panel === 8 + af}
		<div id="rw-type">
			<p>this year, you were a&hellip;</p>
			{#if games.length >= 125}
				<h1 style="color: #111;">black hole</h1>
				<p class="bold-em">
					you <i>devoured</i> <b>{games.length}</b> games in total.
				</p>
			{:else if commentInfo.ups >= 50}
				<h1 style="color: #f55">quasar</h1>
				<p class="bold-em">
					your <b>{commentInfo.count}</b> comments shined bright,
					netting you <b>{commentInfo.ups}</b> upvotes.
				</p>
			{:else if games.length <= 20}
				<h1 style="color: #e44">red dwarf</h1>
				<p class="bold-em">
					you weren't super big, only playing <b>{games.length}</b> games.
				</p>
			{:else if games.length + favorites + totalRatings < 30}
				<h1 style="color: #888">asteroid</h1>
				<p class="bold-em">
					you kept to yourself, playing only <b>{games.length}</b> games.
				</p>
			{:else if totalStars >= 250}
				<h1 style="color: #479">neutron star</h1>
				<p class="bold-em">
					your <b>{totalRatings}</b> ratings which added up to
					<b>{totalStars}</b> stars caused you to collapse!
				</p>
			{:else if totalStars >= 175}
				<h1 style="color: #d94">supergiant star</h1>
				<p class="bold-em">
					your <b>{totalRatings}</b> ratings added up to
					<b>{totalStars}</b> stars in total.
				</p>
			{:else if totalStars >= 75}
				<h1 style="color: #ecb">star</h1>
				<p class="bold-em">
					your <b>{totalRatings}</b> ratings added up to
					<b>{totalStars}</b> stars in total.
				</p>
			{:else}
				<h1>planet</h1>
				<p>
					you didn't do anything particularly special, but the galaxy
					just wouldn't be the same without you.
				</p>
			{/if}
		</div>
	{:else if panel === 9 + af}
		<div id="rw-summary">
			<h1>in summary&hellip;</h1>
			<div id="rw-summary-grid">
				<ul style="grid-area: 1/1/span 1/span 2">
					<li>played <b>{games.length}</b> games</li>
					<li>top games:</li>
				</ul>
				<ol style="grid-area: 2/1/span 1/span 2; margin-left: 30px">
					{#each topTime as game}
						<li>
							<b>{game.game.name}</b>
							<span class="unimportant">
								<Icon icon="material-symbols:timer" />
								{formatPlaytime(game.minutes)}
							</span>
						</li>
					{/each}
				</ol>
				<ul>
					<li>
						<b>{totalRatings}</b> rating{totalRatings === 1
							? ""
							: "s"}
					</li>
					<li>
						<b>{avgRating}</b> average rating
					</li>
				</ul>
				<ul>
					<li>
						<b>{favorites}</b> favorite{favorites === 1 ? "" : "s"}
					</li>
					<li>
						<b>{commentInfo.count}</b> comment{commentInfo.count ===
						1
							? ""
							: "s"}
					</li>
				</ul>
				<p
					style="grid-area: 4/1/span 1/span 2; text-align: center; font-size: 30px"
				>
					<Icon icon="material-symbols:timer" />
					<b>{formatPlaytime(totalTime)}</b> playtime
				</p>
			</div>
		</div>
	{:else if panel === 10 + af}
		<div id="rw-thanks">
			<Icon icon="material-symbols:favorite" width="200" />
			<h1>thank you</h1>
			<p style="text-align: center">
				galaxy wouldn't be possible without your continued support.
				<br />
				here's to many more years, and many more wasted hours.
			</p>
			<p class="unimportant">click anywhere to return to the homepage</p>
			<p class="unimportant">
				due to different ways that galaxy calculates playtime,
				<br />
				numbers seen here probably exceed ones you see on other pages.
			</p>
		</div>
	{/if}
</RewindCore>

<style>
	h1,
	h2 {
		margin: 0;
	}

	p {
		font-size: 30px;
		margin: 8px;
	}

	#rw-intro {
		background: linear-gradient(
			180deg,
			hsla(280, 50%, 50%, 0.5),
			hsla(315, 50%, 50%, 0.5)
		);

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
		flex-direction: column;
		text-align: center;
	}

	#rw-games-overview {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
		flex-direction: column;
		overflow: hidden;
		position: relative;
		/* force light color even in light mode. readability etc. */
		color: #eee;
	}

	#rw-games-background {
		/* z-index: 1; */
		position: absolute;
		top: -60px;
		left: -50px;
		width: calc(100vw + 400px);
		transform: rotate(-2deg);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
	}

	#rw-games-background-tint {
		background: linear-gradient(
			180deg,
			hsla(0, 0%, 10%, 0.5),
			hsla(0, 0%, 5%, 0.5)
		);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.rw-games {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		font-size: 30px;
	}

	.rw-games > p {
		margin-bottom: 10px;
	}

	#rw-games-time {
		background: linear-gradient(
			180deg,
			hsla(140, 50%, 50%, 0.5),
			hsla(165, 50%, 50%, 0.5)
		);
	}

	#rw-games-plays {
		background: linear-gradient(
			180deg,
			hsla(0, 50%, 50%, 0.5),
			hsla(25, 50%, 50%, 0.5)
		);
	}

	.rw-games > div {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 500px;
		max-width: 100vw;
		height: 225px;
		justify-content: center;
	}

	.rw-games > div > :not(img) {
		z-index: 2;
		/* filter: drop-shadow(1px 0 0 var(--background-1))
			drop-shadow(0 1px 0 var(--background-1))
			drop-shadow(-1px 0 0 var(--background-1))
			drop-shadow(0 -1px 0 var(--background-1)); */
		filter: drop-shadow(0 0 3px var(--background-1));
		/* filter: drop-shadow(1px 1px 0 var(--background-1)); */
	}

	.rw-games h2 {
		font-size: 30px;
		padding: 0 8px;
		width: max-content;
		max-width: 100vw;
	}

	.rw-games > div > img {
		position: absolute;
		z-index: 0;
		opacity: 0.5;
		max-width: 100vw;
		max-height: 25vh;
		border-radius: 5px;
		filter: drop-shadow(0 4px 3px #0007);
	}

	.rw-games > div > div {
		display: flex;
		width: max-content;
		align-items: center;
		gap: 8px;
		margin: 0;
		padding: 0 8px;
	}

	.gamebg-left > img {
		right: 8px;
	}

	.gamebg-center {
		align-items: center;
	}

	.gamebg-center > img {
		left: 50%;
		transform: translateX(-50%);
	}

	.gamebg-center > h2 {
		text-align: center;
	}

	.gamebg-right {
		align-items: end;
	}

	.gamebg-right > img {
		left: 8px;
	}

	#rw-saves {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 40px;
		background: linear-gradient(
			180deg,
			hsla(180, 50%, 50%, 0.5),
			hsla(195, 50%, 50%, 0.5)
		);
	}

	#rw-saves-pushdown {
		margin-bottom: -10px;
	}

	#rw-saves-pushup {
		margin-top: -10px;
	}

	#rw-percentile {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
		font-size: 40px;
		background: linear-gradient(
			180deg,
			hsla(40, 50%, 50%, 0.5),
			hsla(65, 50%, 50%, 0.5)
		);
	}

	#rw-percentile img {
		border-radius: 5px;
		filter: drop-shadow(0 4px 3px #0007);
		max-width: 90vw;
	}

	#rw-percentile-desc {
		font-size: 30px;
		max-width: min(700px, 90vw);
		text-align: center;
	}

	.bold-em {
		color: var(--color-2);
	}

	.bold-em b {
		color: var(--color-1);
	}

	#rw-af {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
		font-size: 40px;
		background: linear-gradient(
			115deg,
			hsla(230, 50%, 50%, 0.5),
			hsla(255, 50%, 50%, 0.5)
		);
		text-align: right;
	}

	#rw-comments {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
		font-size: 40px;
		background: linear-gradient(
			180deg,
			hsla(90, 50%, 50%, 0.5),
			hsla(115, 50%, 50%, 0.5)
		);
	}

	#rw-feedback {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
		font-size: 40px;
		background: linear-gradient(
			180deg,
			hsla(340, 50%, 50%, 0.5),
			hsla(5, 50%, 50%, 0.5)
		);
	}

	#rw-feedback > div {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 40px;
		width: max-content;
	}

	#rw-feedback .unimportant {
		font-size: 30px;
	}

	#rw-type {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
		font-size: 40px;
		background: linear-gradient(
			180deg,
			hsla(275, 50%, 50%, 0.5),
			hsla(295, 50%, 50%, 0.5)
		);
	}

	#rw-type p {
		max-width: min(800px, 90vw);
		text-align: center;
	}

	#rw-summary {
		background: linear-gradient(
			180deg,
			hsla(120, 50%, 50%, 0.5),
			hsla(145, 50%, 50%, 0.5)
		);

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 40px;
		flex-direction: column;
	}

	#rw-summary-grid {
		margin-top: -10px;
		display: grid;
		max-width: 600px;
		width: 90vw;
		font-size: 25px;
		grid-template-columns: 1fr 1fr;
	}

	#rw-summary-grid ul,
	#rw-summary-grid ol {
		margin: 0;
	}

	#rw-summary-grid :global(svg) {
		margin-bottom: -4px;
		margin-right: -6px;
	}

	#rw-thanks {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
		font-size: 40px;
		background: linear-gradient(
			180deg,
			hsla(340, 50%, 50%, 0.5),
			hsla(5, 50%, 50%, 0.5)
		);
		text-align: center;
	}

	@media screen and (max-width: 900px) {
		h1 {
			font-size: 40px;
		}

		p,
		.rw-games h2,
		#rw-percentile-desc,
		#rw-feedback > div {
			font-size: 25px;
		}

		.rw-games div,
		#rw-feedback .unimportant {
			font-size: 20px;
		}

		.rw-games > p {
			text-align: center;
		}

		.rw-games > div {
			height: 125px;
		}

		.rw-games img {
			max-height: 125px !important;
		}
	}
</style>
