---
import { type UserCompletedGameMap, getUserCompletedGames } from "~/helper/completed";
import { explore, exploreNames, validExploreType } from "~/helper/explore";
import DetailedGameCard from "~/components/DetailedGameCard.svelte";
import type { ExploreType } from "~/helper/explore";
import GenericGameList from "~/components/GenericGameList.svelte";
import Layout from "~/layouts/Layout.astro";
import Pagination from "~/components/Pagination.svelte";

const { exploring } = Astro.params;

let page = parseInt(Astro.url.searchParams.get("page"));
if (isNaN(page)) {
	page = 1;
}

if (!validExploreType(exploring)) return new Response(null, { status: 404 });

const filter = Astro.cookies.get("filters")?.value ?? "";
const { user, loggedIn } = Astro.locals.auth;

const [
	{ games, pages },
	completedGames
] = await Promise.all([
	explore(
		exploring as ExploreType,
		page,
		100,
		filter
	),
	loggedIn ? await getUserCompletedGames(user.id) : new Map() as UserCompletedGameMap
]);

const url = Astro.url;

// TODO: prod has a nginx proxy, so it thinks that the url is localhost:3000
// fix this when
if (import.meta.env.PROD) {
	url.host = "galaxy.click";
	url.port = "443";
	url.protocol = "https:";
}
---

<Layout title={`${exploreNames[exploring]} games - galaxy`}>
	<main id="explore-main">
		<GenericGameList
			allowGameList={false}
			games={games}
			title={`${exploreNames[exploring]} games`}
			client:load
			completedGames={completedGames}
		/>

		<Pagination pages={pages} currentPage={page} client:only="svelte" />
	</main>
</Layout>
<DetailedGameCard client:load />

<style is:global>
	#explore-main {
		margin: 20px var(--global-padding);
	}

	#flex {
		display: flex;
		justify-content: left;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 10px;
	}
</style>
